@using CLS_SLE.Models;
@model CLS_SLE.ViewModels.ViewCourseViewModel
@{
    ViewBag.Title = "View Course";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Programs & Courses", "ProgramDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Courses", "Courses", "AdminCourse", new { page = 1 }, null)</li>
        <li class="breadcrumb-item active" aria-current="page">@Model.course.CourseName</li>
    </ol>
</nav>
<h1> @Model.course.CourseName  - <a style="font-size: 65%;" href="/AdminCourse/EditCourse?id=@Model.course.CourseID">Edit <i class="fas fa-edit"></i></a> </h1>
<br />
<div class="py-1">
    <b>Department:</b> <a href="/AdminDepartment/ViewDepartment?departmentID=@Model.course.Department.DepartmentID">@Model.course.Department.Name</a>
</div>
<div>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Section CRN</th>
                <th class="text-left">Semester</th>
                <th class="text-left">Lead Instructor</th>
                <th class="text-right"><a href="~/AdminSection/AddSection?courseID=@Model.course.CourseID" class="float-right btn btn-success"><i class="fa fa-plus"></i> Add New Section </a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Section selectedSection in Model.courseSections)
            {
                Person LeadInstructor = selectedSection.Person;
                if (selectedSection.IsCancelled.Equals(false))
                {
                    if (LeadInstructor != null)
                    {
                        <tr>
                            <td>@selectedSection.CRN</td>
                            <td>@selectedSection.Semester.Name</td>
                            <td>@LeadInstructor.FirstName @LeadInstructor.LastName</td>
                            <td class="text-right">
                                <a href="../AdminSection/ViewSection?sectionID=@selectedSection.SectionID"><button type="button" class="btn btn-primary">View</button></a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@selectedSection.CRN</td>
                            <td>@selectedSection.Semester.Name</td>
                            <td>Unknown</td>
                            <td class="text-right">
                                <a href="../AdminSection/ViewSection?sectionID=@selectedSection.SectionID"><button type="button" class="btn btn-primary">View</button></a>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
@if (Model.updatedMessage != null)
{
    <script type="text/javascript">
    console.log('here');
        window.onload = function () {
            swal("@Model.alertMessage", "", "@Model.updatedMessage");
            };
    </script>
}