@using System.Text
@using CLS_SLE.Models
@model CLS_SLE.ViewModels.SchedulingViewModel
@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/bootstrap-select")


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item active" aria-current="page">Scheduling</li>
    </ol>
</nav>


<h2>Assessment Scheduling</h2>

@using (Html.BeginForm("Index", "AdminScheduling", FormMethod.Post))
{
    //Populates a list of semesters to choose from with live search
<div class="form-inline mt-4 mb-4">
    <div class="row col-7">

        <div class="form-group col-12">
            <p class="col-12 mb-1 pl-0">Search For A Semester:</p>
            @Html.DropDownListFor(s => s.SemesterID, Model.Semesters, "-Select Semester-", new
            {
                @id = "DropDownSemesters",
                @class = "form-control selectpicker d-inline col-9",
                onchange = "this.form.submit();"
            })


            <input type="submit" class="btn btn-primary d-inline ml-2" value="Submit" />
        </div>
    </div>
    <div class="row col-4 border-left">
        <div class="form-group col-12">
            <p class="col-12 mb-1 pl-0">Can't Find Semester?</p>
            <button type="submit" class="btn btn-success d-inline ml-2" value="Set Up New Semester">@Html.ActionLink("Setup Semester", "NewSemester", "AdminScheduling")</button>
        </div>
    </div>
</div>
}

@if (Model.Semester != null)
{
    <!-- Toolbar Functions -->
    <div class="row mt-4 bg-dark text-white pt-2 pb-3 pl-4 pr-4">
        <div class="row col-12 mt-2 mb-2">
            <h4>@Model.Semester.Name</h4>
        </div>
        <div class="row col-6">
            <p class="col-12 mb-1 pl-0">Search For A Course:</p>
            @Html.DropDownListFor(s => s.SemesterID, Model.Semesters, "-Select Semester-", new
            {
                @id = "DropDownSemesters",
                @class = "form-control selectpicker d-inline col-10"
            })
            <button type="submit" class="btn btn-primary d-inline ml-1" value="Submit"><i class="fas fa-search"></i></button>
        </div>
        <div class="row col-2">
            <!--<p class="col-12 mb-1 pl-0">Filter By Assessments:</p>
            @*Html.DropDownListFor(s => s.SemesterID, Model.Semesters, "-Select Semester-", new
            {
                @id = "DropDownSemesters",
                @class = "form-control selectpicker d-inline col-10"
            })*@
            <!--<button type="submit" class="btn btn-primary d-inline ml-1" value="Submit"><i class="fas fa-search"></i></button>-->
        </div>
        <div class="row col-5">
            <p class="col-12 mb-1 pl-0">Edit Functions</p>
            <div class="col-12 ml-0">
                <button type="submit" class="btn btn-success d-inline" data-toggle="modal" data-target="#addCourseModal"><i class="fas fa-plus"></i> Add Course</button>
                <button type="submit" class="btn btn-warning d-inline ml-1" data-toggle="modal" data-target="#editDueDatesModal"><i class="fas fa-calendar-alt"></i> Edit All Due Dates</button>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <tbody>
            @foreach (Section sec in Model.Semester.Sections.OrderBy(c => c.CourseID).ThenBy(s => s.CRN))
            {
                <tr class="row bg-light">
                    <td class="col-12">
                        <h4>
                            @*@sec.CRN - *@@sec.Course.CourseName
                            <!--<button type="button" class="btn btn-danger btn-sm d-inline float-right"><i class="fas fa-times" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-warning btn-sm d-inline float-right"><i class="fas fa-wrench" aria-hidden="true"></i></button>-->
                        </h4>
                    </td>
                </tr>
                foreach (SectionRubric sr in sec.SectionRubrics)
                {
                    //var Instructor = @Model.People.FirstOrDefault(p => p.PersonID == sec.LeadInstructorID);
                    <tr class="row">
                        @*if (Instructor != null)
                            {
                                <td> @String.Concat(Instructor.LastName, ", ", Instructor.FirstName)</td>
                                <td>@Instructor.User.Email</td>
                            }
                            else
                            {
                                <td colspan="2">No Instructor Assigned</td>
                                <td></td>
                            }
                            <td>@sec.Course.Number<text>-</text>@sec.CRN</td>
                            <td>@sec.Course.CourseName</td>
                        *@
                        <td class="row col-12 border-top-0">
                            <div class="col-5">
                                <h5 class="d-inline indent">
                                    CRN: @sec.CRN @*sr.AssessmentRubric.Name*@
                                </h5>
                                <h6 class="pl-3 d-inline">
                                    End Date: @sr.EndDate.ToShortDateString()
                                </h6>
                            </div>
                            <div class="row col-6">
                                <span>Start Date:</span><select class="d-inline form-control selectpicker col-3 ml-2"></select><!--<option selected>@*Html.Value(@sr.StartDate.ToShortDateString())*@</option>-->
                                <span class="ml-3">End Date:</span><select class="d-inline form-control selectpicker col-3 ml-2"><!--<option value="@*Html.Raw(@sr.EndDate.ToShortDateString())" selected></option>*@--></select>
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn btn-danger btn-sm d-inline float-right"><i class="fas fa-times" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-success btn-sm d-inline float-right"><i class="fas fa-save" aria-hidden="true"></i></button>
                                <!--<button type="button" class="btn btn-success btn-sm d-inline float-right"><i class="fas fa-save" aria-hidden="true"></i></button>-->
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>

    <!-- Add Course Modal-->
    <div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered p-2" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h3 class="modal-title" id="removeConfirm">Add Course</h3>
                    <i class="ml-auto fas fa-plus fa-2x"></i>
                </div>
                <div class="modal-body row p-8">
                    <div class="col-12">
                        <p class="col-12 mb-1 pl-0">Select Course:</p>
                        @Html.DropDownListFor(s => s.SemesterID, Model.Semesters, "-Select Semester-", new
                        {
                            @id = "DropDownSemesters",
                            @class = "form-control d-inline col-12"
                        })
                    </div>
                    <div class="col-12 mt-3">
                        <p class="col-12 mb-1 pl-0">Enter CRN:</p>
                        <input type="text" class="form-control"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary mr-auto" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-success float-right">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit All Due Dates Modal-->
    <div class="modal fade" id="editDueDatesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h3 class="modal-title" id="removeConfirm">Edit Due Dates</h3>
                    <i class="ml-auto fas fa-calendar-alt fa-2x"></i>
                </div>
                <div class="modal-body row p-8">
                    <div class="modal-body row p-8">
                        <div class="col-6">
                            <p class="col-12 mb-1 pl-0">Start Date</p>
                            @Html.DropDownListFor(s => s.SemesterID, Model.Semesters, "-Select Semester-", new
                            {
                                @id = "DropDownSemesters",
                                @class = "form-control d-inline col-11"
                            })
                        </div>
                        <div class="col-6">
                            <p class="col-12 mb-1 pl-0">End Date</p>
                            @Html.DropDownListFor(s => s.SemesterID, Model.Semesters, "-Select Semester-", new
                            {
                                @id = "DropDownSemesters",
                                @class = "form-control d-inline col-11"
                            })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary mr-auto" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-success float-right">Confirm</button>
                </div>
            </div>
        </div>
    </div>

}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-select")


}