@using CLS_SLE.Models;
@{
    ViewBag.Title = "View School";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Schools", "Schools", "AdminSchools")</li>
        <li class="breadcrumb-item active" aria-current="page">@Model.school.Name </li>
    </ol>
</nav>
<h1> @Model.school.Name  - <a style="font-size: 85%;" href="/AdminSchools/EditSchool?SchoolID=@Model.school.SchoolID"><i class="fas fa-edit"></i></a> </h1>
<br />
<div class="py-1">
    <b>Description:</b> @Model.school.Description
</div>
<div class="py-1">
    <b>Is Active:</b> @Model.school.IsActive
</div>
@if (Model.ModifierLogin != null)
{
    <div class="py-1">
        <b>Last Modified:</b>  @Model.school.ModifiedDateTime
    </div>
    <div class="py-1">
        <b>By User:</b> @Model.ModifierLogin
    </div>
}
else if (Model.CreatorLogin != null)
{
    <div class="py-1">
        <b>Created:</b> @Model.school.CreatedDateTime
    </div>
    <div class="py-1">
        <b>By User:</b> @Model.CreatorLogin
    </div>
}
<br />

<div>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="h3">Departments</th>
                <th><a href="~/AdminDepartments/AddDepartment?schoolID=@Model.school.SchoolID" class="float-right btn btn-success"><i class="fa fa-plus"></i> Add New Department </a></th>
            </tr>
        </thead>
        <tbody>
            @{ foreach (Department department in Model.school.Departments)
                {
                    <tr data-userID="person.PersonID">
                        <td>@department.Name</td>

                        <td class="text-right"><a href="@Url.Action("ViewDepartment", "Department", new { departmentID = department.DepartmentID, schoolID = Model.school.SchoolID })" class="btn btn-primary mr-2">View</a></td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>