@using CLS_SLE.Models;
@{
    ViewBag.Title = "CLS Assessment";
    var r = Model.Rubric;
    var s = Model.Student;
    bool exists = false;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Dashboard", "Dashboard")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Student List", "CLSStudentList", new { rubricID = r.RubricID })</li>
        <li class="breadcrumb-item active" aria-current="page">Assessment</li>
    </ol>
</nav>

<h1>@r.RubricName</h1>
<h2>@s.FirstName @s.LastName</h2>

<form action="/InstructorAssessments/AssessmentInput" method="post">
    @Html.AntiForgeryToken()
    <table class="table table-sm">
        <tbody id="criteria">
            @foreach (Outcome o in Model.Outcomes)
            {
            <tr id="@o.OutcomeID" class="table-active">
                <td colspan="2" class="bg-dark table-dark"><h2>@o.Name</h2></td>
            </tr>
                foreach (RubricDetail rb in Model.Criteria)
                {
                    if (o.Name.Equals(rb.OutcomeName))
                    {
                        <tr>
                            <td class="col-10">
                                @rb.CriteriaName
                            </td>
                            <td>
                                @foreach (ScoreType i in Model.Selectors)
                                {
                                <div class="form-check">
                                    @foreach (StudentScore ss in Model.StudentScores)
                                    {
                                        exists = false;
                                        if (ss.CriteriaID == rb.CriteriaID && ss.ScoreTypeID == i.ScoreTypeID)
                                        {
                                    <label class="form-check-label desc">

                                        @Html.RadioButton(rb.CriteriaID.ToString(), i.ScoreTypeID, new { Checked = "checked", @class = "form-check-input" })
                                        @i.Description
                                    </label>
                                            exists = true;
                                            break;
                                        }
                                    }

                                    @if (!exists)
                                    {
                                        <label class="form-check-label desc">

                                            @Html.RadioButton(rb.CriteriaID.ToString(), i.ScoreTypeID, new { @class = "form-check-input" })
                                            @i.Description
                                        </label>
                                    }

                                </div>
                                }
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    <div class="btn-group" role="group">
        <input type="submit" class="btn btn-outline-dark" value="Submit" id="submit">
        <input type="submit" class="btn btn-outline-dark" value="Next Student" id="submit">
    </div>
</form>

<style>
    input[type=radio] {
        float: left;
    }

    .criteria {
        display: block;
    }
</style>



@section scripts
{
    <script>
        $(function ()
        {
        });
    </script>
}