@using CLS_SLE.Models;
@{
    ViewBag.Title = "Dashboard";

    Boolean clsFirstItem = true;
    Boolean tsaFirstItem = true;
    Boolean poFirstItem = true;
    
}

<h1>Dashboard</h1>

<table class="table table-borderless table-hover">
    @foreach (InstructorAssessment item in Model.assessments)
    {
        if (item.Category == "CLS")
        {
            if (clsFirstItem)
            {
                <thead>
                    <tr>
                        <th><h2>CLS Assessments</h2></th>
                        <th>Class</th>
                        <th>CRN</th>
                        <th>Due Date</th>
                        <th class="text-center">Progress</th>
                    </tr>
                </thead>
                clsFirstItem = false;
            }
            <tr>
                <td>
                    @item.RubricName
                </td>
                <td>
                    @item.CourseName
                </td>
                <td>
                    @item.CRN
                </td>
                <td>
                    @item.DueDate.ToShortDateString()
                </td>
                <td class="text-center">
                    @item.CompletedCount / @item.StudentCount
                </td>
                <td>
                    @Html.ActionLink("Assess", "StudentList", new { rubricID = item.RubricID })
                </td>
            </tr>

        }
    }

    @foreach (InstructorAssessment item in Model.assessments)
    {
        if (item.Category == "TSA")
        {
            if (tsaFirstItem)
            {
                <thead>
                    <tr>
                        <th><h2>TSA Assessments</h2></th>
                        <th>Class</th>
                        <th>CRN</th>
                        <th>Due Date</th>
                        <th class="text-center">Progress</th>
                    </tr>
                </thead>
                tsaFirstItem = false;
            }
            <tr style="">
                <td>
                    @item.RubricName
                </td>
                <td>
                    @item.CourseName
                </td>
                <td>
                    @item.CRN
                </td>
                <td>
                    @item.DueDate.ToShortDateString()
                </td>
                <td class="text-center">
                    @item.CompletedCount / @item.StudentCount
                </td>
                <td>
                    @Html.ActionLink("Assess", "StudentList", new { rubricID = item.RubricID })
                </td>
            </tr>

        }
    }
    @foreach (InstructorAssessment item in Model.assessments)
    {
        if (item.Category == "PO")
        {
            if (poFirstItem)
            {
                <thead>
                    <tr>
                        <th><h2>PO Assessments</h2></th>
                        <th>Class</th>
                        <th>CRN</th>
                        <th>Due Date</th>
                        <th class="text-center">Progress</th>
                    </tr>
                </thead>
                poFirstItem = true;
            }
            <tr style="">
                <td>
                    @item.RubricName
                </td>
                <td>
                    @item.CourseName
                </td>
                <td>
                    @item.CRN
                </td>
                <td>
                    @item.DueDate.ToShortDateString()
                </td>
                <td class="text-center">
                    @item.CompletedCount / @item.StudentCount
                </td>
                <td>
                    @Html.ActionLink("Assess", "StudentList", new { rubricID = item.RubricID })
                </td>
            </tr>

        }
    }

</table>


