@using CLS_SLE.Models;
@{
    ViewBag.Title = "Dashboard";
}

<h1>Dashboard</h1>

<table class="table table-borderless table-responsive-lg">
    <thead>
        <tr>
            <th><h2>CLS Assessments</h2></th>
            <th>Class</th>
            <th>CRN</th>
            <th>Due Date</th>
            <th></th>
        </tr>
    </thead>
    @foreach (InstructorAssessment item in Model)
    {
        if(item.AssessmentLevel == "S")
        {
            <tr>
                <td>
                    @item.RubricName
                </td>
                <td>
                    @item.CourseName
                </td>
                <td>
                    @item.CRN
                </td>
                <td>
                    @item.DueDate.ToShortDateString()
                </td>
                <td>
                    @Html.ActionLink("Assess", "CLSStudentList", new { rubricID = item.RubricID })
                </td>
            </tr>
        }
    }
</table>

<table class="table table-borderless">
    <thead>
        <tr>
            <th>
                <h2>TSA Assessments</h2>
            </th>
            <th>Class</th>
            <th>CRN</th>
            <th>Due Date</th>
            <th></th>
        </tr>
        </thead>
        @foreach (InstructorAssessment item in Model)
        {
            if (item.AssessmentLevel != "S")
            {
                <tr>
                    <td>
                        @item.RubricName
                    </td>
                    <td>
                        @item.CourseName
                    </td>
                    <td>
                        @item.CRN
                    </td>
                    <td>
                        @item.DueDate.ToShortDateString()
                    </td>
                    <td>
                        @Html.ActionLink("Assess", "TSAStudentList", new { rubricID = item.RubricID })
                    </td>
                </tr>
            }
        }

</table>

@section scripts
{
    <script>
        $(function ()
        {
        });
    </script>
}
