@using CLS_SLE.Models;
@{
    ViewBag.Title = "Dashboard";
}

<h2>Your Dashboard</h2>

<table class="table">
    <tr>
        <th class="col-xs-5">
            <h2>CLS Assessments</h2>
        </th>
        <th><h3>Class</h3></th>
        <th><h3>CRN</h3></th>
        <th colspan="2"><h3>Due Date</h3></th>
    </tr>

    @foreach (InstructorAssessment item in Model)
    {
        if(item.AssessmentLevel == "S")
        {
            <tr>
                <td class="col-xs-5">
                    @item.RubricName
                </td>
                <td class="col-xs-3">
                    @item.CourseName
                </td>
                <td>
                    @item.CRN
                </td>
                <td>
                    @item.DueDate
                </td>
                <td>
                    @Html.ActionLink("Assess", "CLSStudentList", new { rubricID = item.RubricID })
                </td>
            </tr>
        }
    }
</table>

<table class="table">
    <tr>
        <th colspan="5">
            <h2>TSA Assessments</h2>
        </th>
    </tr>

    @foreach (InstructorAssessment item in Model)
    {
        if(item.AssessmentLevel != "S")
        {
            <tr>
                <td class="col-xs-5">
                    @item.RubricName
                </td>
                <td class="col-xs-3">
                    @item.CourseName
                </td>
                <td>
                    @item.CRN
                </td>
                <td>
                    @item.DueDate
                </td>
                <td>
                    @Html.ActionLink("Assess", "TSAStudentList", new { rubricID = item.RubricID })
                </td>
            </tr>
        }
    }

</table>

@section scripts
{
    <script>
        $(function ()
        {
        });
    </script>
}
