@using CLS_SLE.Models;
@{
    ViewBag.Title = "Dashboard";
}

@if (((List<InstructorAssessment>)Model.assessments).Count() == 0)
{
    <li class="list-group-item">
        <p>You currently have no assessments assigned to you. Please contact your instructional manager if you feel this is an error. </p>
    </li>
}

@foreach (AssessmentCategory category in Model.categories)
{
    if (((List<InstructorAssessment>)Model.assessments).Where(a => a.Category == category.CategoryCode).Count() != 0)
    {
        <h2>@category.Name</h2>
        <small>@category.Description</small>
        <ul class="list-group">



            @foreach (InstructorAssessment assessment in Model.assessments)
            {
                if (assessment.Category.Equals(category.CategoryCode))
                {

                    <li class="list-group-item">
                        <small class="progress-head" style="position: absolute; right: 5px; top: -20px; width: 60px; text-align:center">Progress</small>
                        <span style="position: absolute; right: 5px; top: 5px; width: 60px;" class="float-right badge badge-dark">@assessment.CompletedCount / @assessment.StudentCount</span>
                        <div class="">
                            <div class="row">
                                <div class="col-md-12">
                                    <b style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"> @Html.ActionLink(assessment.RubricName, "StudentList", new { rubricID = assessment.RubricID, sectionID = assessment.SectionID }) </b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <b>Course name: </b>@assessment.CourseName
                                </div>
                                <div class="col-md-3 ml-auto">
                                    <b>CRN: </b>@assessment.CRN
                                </div>
                                @{
                                    if (@assessment.AssessmentLevel != null)
                                    {
                                        <div class="col-md-3 ml-auto">
                                            <b>Assessment Level: </b>@assessment.AssessmentLevel
                                        </div>
                                    }
                                }
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <b>Due: </b>@assessment.DueDate.ToShortDateString()
                                </div>
                                <div class="col-md-3 ml-auto">@Html.ActionLink("Assess", "StudentList", new { rubricID = assessment.RubricID, sectionID = assessment.SectionID })</div>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
        <br />
    }
}
