@using CLS_SLE.Models;
@{
    ViewBag.Title = "Dashboard";

    Boolean firstItem = true;

    var students = (List<int>)Model.students;
    var sections = (List<int>)Model.sections;
    var completeStudents = (List<int>)Model.completestudents;
}

<h1>Dashboard</h1>
<div class="badge lead">@Model.name</div>

<table class="table table-borderless">
    @foreach (InstructorAssessment item in Model.assessments)
    {
        if (item.AssessmentLevel == "S")
        {
            if (firstItem)
            {
                <thead>
                    <tr>
                        <th><h2>CLS Assessments</h2></th>
                        <th>Class</th>
                        <th>CRN</th>
                        <th>Due Date</th>
                        <th>Progress</th>
                    </tr>
                </thead>
            }
            <tr>
                <td>
                    @item.RubricName
                </td>
                <td>
                    @item.CourseName
                </td>
                <td>
                    @item.CRN
                </td>
                <td>
                    @item.DueDate.ToShortDateString()
                </td>
                <td class="text-center">
                    @for(int x = 0; x < sections.Count(); x++)
                    {
                        if (sections[x] == item.SectionID)
                        {
                            <span> @completeStudents[x] / @students[x]</span>
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("Assess", "StudentList", new { rubricID = item.RubricID })
                </td>
            </tr>

            firstItem = false;
        }

    }
    @if (!firstItem) {
    <thead>
        <tr>
            <th>
                <h2>TSA Assessments</h2>
            </th>
        </tr>
    </thead>
    }
    @foreach (InstructorAssessment item in Model.assessments)
    {
        if (item.AssessmentLevel != "S")
        {
            if (firstItem)
            {
                <thead>
                    <tr>
                        <th><h2>TSA Assessments</h2></th>
                        <th>Class</th>
                        <th>CRN</th>
                        <th>Due Date</th>
                        <th>Progress</th>
                    </tr>
                </thead>
            }
            <tr style="">
                <td>
                    @item.RubricName
                </td>
                <td>
                    @item.CourseName
                </td>
                <td>
                    @item.CRN
                </td>
                <td>
                    @item.DueDate.ToShortDateString()
                </td>
                <td class="text-center">
                    @for (int x = 0; x < sections.Count(); x++)
                    {
                        if (sections[x] == item.SectionID)
                        {
                            <span> @completeStudents[x] / @students[x]</span>
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("Assess", "StudentList", new { rubricID = item.RubricID })
                </td>
            </tr>

        }
    }

</table>


