@using CLS_SLE.Models;
@model CLS_SLE.Models.RubricDetail
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InstructorAssessment</h4>
    <hr />
    <table>
        <tr>
            <td>@Model.AssessmentName</td>
        </tr>
        <tr>
            <td>@Model.RubricID</td>
        </tr>
        <tr>
            <td>@Model.RubricName</td>
        </tr>
        <tr>
            <td>@Model.Description</td>
        </tr>
        <tr>
            <td>@Model.OutcomeName</td>
        </tr>
        <tr>
            <td>@Model.OutcomeSortOrder</td>
        </tr>
        <tr>
            <td>@Model.CriteriaID</td>
        </tr>
        <tr>
            <td>@Model.CriteriaName</td>
        </tr>
        <tr>
            <td>@Model.ExampleText</td>
        </tr>
        <tr>
            <td>@Model.CriteriaSortOrder</td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit") |
    @Html.ActionLink("Return to Dashboard", "Dashboard")
</p>

@section scripts
{
    <script>
        $(function () {

        });
    </script>
}
