@using CLS_SLE.Models;
@{
    ViewBag.Title = "TSA Assessment";
    var r = Model.Rubric;
    var s = Model.Student;
}

<h2>
    @r.AssessmentName - @s.FirstName @s.LastName
</h2>

<table class="table">
    <tbody>
        @foreach(Outcome o in Model.Criteria)
        {
            <tr id="@o.OutcomeID">
                <td>@o.Name</td>
                <td>
                    @foreach(ScoreType i in Model.Selectors)
                    {
                        <label for="selector_@i.ScoreTypeID@o.OutcomeID">&nbsp;@i.Description</label>
                        <input type="radio" id="selector_@i.ScoreTypeID@o.OutcomeID" name="@o.OutcomeID">
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(function ()
        {
            var rubricID = @r.RubricID;
            var sectionID = @r.SectionID;
            var enrollmentID = @s.EnrollmentID;
            var personID = '@Session["personID"]';


            console.log(enrollmentID);

            var outcomes;
            var scoreTypes;

            function Criteria()
            {

            }


        });
    </script>    
}