@using CLS_SLE.Models;
@{
    ViewBag.Title = "TSA Assessment";
    var r = Model.Rubric;
    var s = Model.Student;
    bool exists = false;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Dashboard", "Dashboard")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Student List", "TSAStudentList", new { rubricID = r.RubricID })</li>
        <li class="breadcrumb-item active" aria-current="page">Assessment</li>
    </ol>
</nav>

<h1>@r.RubricName</h1>
<h2>@s.FirstName @s.LastName</h2>


<form action="/InstructorAssessments/AssessmentInput" method="post">
    @Html.AntiForgeryToken()
    <table class="table">
        <tbody id="criteria">
            @foreach(Outcome o in Model.Outcomes)
             {
                 <tr id="@o.OutcomeID">
                    <td colspan="2"><h3>@o.Name</h3></td>
                 </tr>
                 foreach(RubricDetail rb in Model.Criteria)
                 {
                    if(o.Name.Equals(rb.OutcomeName))
                    {
                        <tr>
                            <td>
                                <h4 style="margin-left:45px">@rb.CriteriaName</h4>
                            </td>
                            <td class="col-md-3">
                                @foreach(ScoreType i in Model.Selectors)
                                {
                                    <div class="criteria">
                                        @foreach(StudentScore ss in Model.StudentScores)
                                        {
                                            exists = false;
                                            if(ss.CriteriaID == rb.CriteriaID && ss.ScoreTypeID == i.ScoreTypeID)
                                            {
                                                @i.Description @Html.RadioButton(rb.CriteriaID.ToString(), i.ScoreTypeID, new { Checked = "checked" })
                                                exists = true;
                                                break;
                                            }
                                        }

                                        @if(!exists)
                                        {
                                            @i.Description @Html.RadioButton(rb.CriteriaID.ToString(), i.ScoreTypeID)
                                        }

                                    </div>
                                }
                            </td>
                        </tr>
                    }
                 }
             }
        </tbody>
    </table>
    <input type="submit" value="Submit" id="submit">
</form>

<style>
    input[type=radio]{
        float:left;
    }
    .criteria{
        display:block;
    }
</style>



@section scripts
{
    <script>
        $(function ()
        {
            var rubricID = @r.RubricID;
            var sectionID = @r.SectionID;
            var enrollmentID = @s.EnrollmentID;
            var personID = '@Session["personID"]';

            //$("form").on("submit", function (e)
            //{
            //    e.preventDefault();
            //    console.log($(this).serialize());
            //});
        });
    </script>    
}