@using CLS_SLE.Models;
@{
    ViewBag.Title = "TSA Assessment";
    var r = Model.Rubric;
    var s = Model.Student;
}

<h2>
    @r.AssessmentName - @s.FirstName @s.LastName
</h2>
<form action="/InstructorAssessments/AssessmentInput" method="post">
    @Html.AntiForgeryToken()
    <table class="table">
        <tbody id="criteria">
            @foreach(Outcome o in Model.Criteria)
            {
                <tr id="@o.OutcomeID">
                    <td>@o.Name</td>
                    <td class="col-md-2">
                        @foreach(ScoreType i in Model.Selectors)
                        {
                            <div class="criteria">
                                <label for="@i.ScoreTypeID@o.OutcomeID">&nbsp;@i.Description</label>
                                <input type="radio" id="@i.ScoreTypeID@o.OutcomeID" name="@o.OutcomeID" class="@i.ScoreTypeID@o.OutcomeID" value="@i.ScoreTypeID">
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Submit" id="submit">
</form>

<style>
    input[type=radio]{
        float:right;
    }
    .criteria{
        display:block;
    }
</style>



@section scripts
{
    <script>
        $(function ()
        {
            var rubricID = @r.RubricID;
            var sectionID = @r.SectionID;
            var enrollmentID = @s.EnrollmentID;
            var personID = '@Session["personID"]';

            //$("form").on("submit", function (e)
            //{
            //    e.preventDefault();
            //    console.log($(this).serialize());
            //});
        });
    </script>    
}