@using CLS_SLE.Models;
@{
    ViewBag.Title = "TSA Assessment";
    var r = Model.Rubric;
    var s = Model.Student;
    bool exists = false;
    var numCriteria = 0;
    var filledCriteria = 0;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Dashboard", "Dashboard", new { p = Session["personID"] })</li>
        <li class="breadcrumb-item">@Html.ActionLink("Student List", "TSAStudentList", new { rubricID = r.RubricID })</li>
        <li class="breadcrumb-item active" aria-current="page">Assessment</li>
    </ol>
</nav>

<h1>@r.RubricName</h1>
<h2>@s.FirstName @s.LastName</h2>

<form action="/InstructorAssessments/AssessmentInput" method="post">
    @Html.AntiForgeryToken()
    <table class="table table-sm">
        <tbody id="criteria">
            @foreach (Outcome o in Model.Outcomes)
            {
                numCriteria = 0;
                filledCriteria = 0;
                foreach (RubricDetail rb in Model.Criteria)
                {
                    if (o.Name.Equals(rb.OutcomeName))
                    {
                        numCriteria++;
                        foreach (ScoreType i in Model.Selectors)
                        {
                            
                            foreach (StudentScore ss in Model.StudentScores)
                            {
                                if (ss.CriteriaID == rb.CriteriaID && ss.ScoreTypeID == i.ScoreTypeID)
                                {
                                    filledCriteria++;
                                    break;
                                }
                            }
                        }
                    }
                }
                <tr id="@o.OutcomeID" class="table-active">
                    <td colspan="2" class="bg-dark table-dark"><h3 class="float-left">@o.Name</h3> <span class="float-right">@filledCriteria / @numCriteria</span></td>
                </tr>

                foreach (RubricDetail rb in Model.Criteria)
                {
                    if (o.Name.Equals(rb.OutcomeName))
                    {
                        <tr>
                            <td>
                                @rb.CriteriaName
                            </td>
                            <td>
                                @foreach (ScoreType i in Model.Selectors)
                                {
                                    <div class="form-check">
                                        @foreach (StudentScore ss in Model.StudentScores)
                                        {
                                            exists = false;
                                            if (ss.CriteriaID == rb.CriteriaID && ss.ScoreTypeID == i.ScoreTypeID)
                                            {
                                                <label class="form-check-label desc">
                                                    @Html.RadioButton(rb.CriteriaID.ToString(), i.ScoreTypeID, new { Checked = "checked", @class = "form-check-input" })
                                                    @i.Description
                                                </label>
                                                exists = true;
                                                break;
                                            }
                                        }
                                        @if (!exists)
                                        {
                                            <label class="form-check-label desc">
                                                @Html.RadioButton(rb.CriteriaID.ToString(), i.ScoreTypeID, new { @class = "form-check-input" })
                                                @i.Description
                                            </label>
                                        }

                                    </div>
                                }
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    <div class="btn-group" role="group">
    <input type="submit" class="btn btn-outline-dark" value="Submit" id="submit">
    <input type="submit" class="btn btn-outline-dark" value="Next Student" id="submit">
 </div>
</form>

<style>
    input[type=radio]{
        float:left;
    }
</style>



@section scripts
{
    <script>
        $(function ()
        {
            var rubricID = @r.RubricID;
            var sectionID = @r.SectionID;
            var enrollmentID = @s.EnrollmentID;
            var personID = '@Session["personID"]';

            //$("form").on("submit", function (e)
            //{
            //    e.preventDefault();
            //    console.log($(this).serialize());
            //});
        });
    </script>    
}