@using CLS_SLE.Models;
@{
    ViewBag.Title = "Students";
    var a = Model.Assessment;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Dashboard", "Dashboard", new { p = Session["personID"] })</li>
        <li class="breadcrumb-item active" aria-current="page">Student List</li>
    </ol>
</nav>

<h1>@a.AssessmentName</h1>
<h2>@a.RubricName   </h2>
<small>CRN#</small> @a.CRN <i class="right">@a.CourseName</i>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th style="text-align: center">Progress</th>
        </tr>
    </thead>
    <tbody id="students">
        @foreach (SectionEnrollment student in Model.Students)
        {
            <tr data-section="@student.sectionID" data-enrollment="@student.EnrollmentID" id="@student.EnrollmentID" class="student-row">
                <td style="width: 120px;">@student.StudentID</td>
                <td>@student.LastName, @student.FirstName</td>
                <td style="width: 100px; text-align: center">7 / 8</td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(function () {
            $('#students').on('click', '.student-row', function () {
                console.log(this.id);
                location.href = "/InstructorAssessments/TSAAssessment?sectionID=" + this.dataset.section + "&enrollmentID=" + this.dataset.enrollment;
                //console.log("/InstructorAssessments/TSAAssessment?sectionID=" + $('#sectionID_' + this.id).html() + "&enrollmentID=" + $('#enrollmentID_' + this.id).html());
            });
        })
    </script>
}
