@using CLS_SLE.Models;
    @{
        ViewBag.Title = "View Department";
    }

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
            <li class="breadcrumb-item">@Html.ActionLink("Programs/Courses Dashboard", "ProgramDashboard", "Admin")</li>
            <li class="breadcrumb-item">@Html.ActionLink("Departments", "Departments", "AdminDepartment")</li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Name </li>
        </ol>
    </nav>
    <h1> @Model.Name  - <a style="font-size: 85%;" href="/AdminDepartment/EditDepartment?id=@Model.DepartmentID">Edit <i class="fas fa-edit"></i></a> </h1>
    <br />
    <div class="py-1">
        <b>Number:</b> @Model.Number
    </div>
    <div class="py-1">
        <b>School:</b> @Model.School.Name
    </div>
    <div class="py-1">
        <b>Is Active:</b> @Model.IsActive
    </div>

    <div class="py-1">
            <b>Last Modified:</b>  @Model.ModifiedDateTime
        </div>
        <div class="py-1">
            <b>By User:</b> @Model.ModifiedByLoginID
        </div>

    <div class="py-1">
            <b>Created:</b>  @Model.CreatedDateTime
        </div>
        <div class="py-1">
            <b>By User:</b> @Model.CreatedByLoginID
        </div>
    <br />
    <div>
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
                <b>Programs</b>
            </thead>
            <tbody>
                @foreach (ProgramDepartment pd in Model.ProgramDepartments)
                {
                    if (pd.Program.IsActive.Equals(false))
                    {
                        <tr>
                            <td colspan="2">@pd.Program.Name <span class="text-danger">(Not Active)</span></td>
                            <td class="text-right">
                                <a href="../AdminProgram/ViewProgram?programID=@pd.Program.ProgramID"><button type="button" class="btn btn-primary">View</button></a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="2">@pd.Program.Name</td>
                            <td class="text-right">
                                <a href="../AdminProgram/ViewProgram?programID=@pd.Program.ProgramID"><button type="button" class="btn btn-primary">View</button></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>


