
@model CLS_SLE.ViewModels.AddUserViewModel
@{
    ViewBag.Title = "Create";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Manage Users", "ViewUsers", "Admin")</li>
        <li class="breadcrumb-item active" aria-current="page">New User</li>
    </ol>
</nav>
<h1>Create User</h1>
<br />

@using (Html.BeginForm("CreateUser", "AdminUser", FormMethod.Post))
{

<div class="form-group">
    @Html.Label("First Name:")
    @Html.EditorFor(Model => Model.Person.FirstName)
    <br />
    @Html.Label("Login:")
    @Html.EditorFor(Model => Model.User.Login)
    <br />
    @Html.Label("Last Name:")
    @Html.EditorFor(Model => Model.Person.LastName)
    <br />
    @Html.Label("ID:")
    @Html.EditorFor(Model => Model.Person.IdNumber)
    <br />
    @Html.Label("Email:")
    @Html.EditorFor(Model => Model.User.Email)
    <br />
    <input type="submit" class="btn btn-primary" value="Submit" />
</div>
}

<!--<form action="CreateUser" method="post">
    <div class="form-group">
        <label for="fName">First Name:</label>
        <input type="text" id="fName" name="fName" required />
        <br />
        <label for="login">Login:</label><br />
        <input type="text" id="login" name="login" required />
        <br />
        <label for="lName">Last Name:</label><br />
        <input type="text" id="lName" name="lName" required />
        <br />
        <label for="id">ID:</label><br />
        <input type="text" id="id" name="id" required maxlength="9" />
        <br />
        <label for="email">Email:</label><br />
        <input type="email" id="email" name="email" required />
        <br /><br />
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>-->
</form>