
@{
    ViewBag.Title = "Edit";
    
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Manage Users", "ViewUsers", "Admin")</li>
        <li class="breadcrumb-item active" aria-current="page">Edit User - @ViewBag.Login</li>
    </ol>
</nav>
<h1>Edit User - @ViewBag.Login</h1>
<br />

<form action="UpdateUser" method="post">
    <div class="form-group">
        <input type="hidden" name="id" id="id" value="@ViewBag.Id" />
        <label for="fName">First Name:</label><br />
        <input type="text" id="fName" name="fName" value="@ViewBag.First" required />
        <br />
        <label for="lName">Last Name:</label><br />
        <input type="text" id="lName" name="lName" value="@ViewBag.Last" required />
        <br />
        <label for="login">Login:</label><br />
        <input type="text" id="login" name="login" value="@ViewBag.Login" required />
        <br />
        <label for="email">Email:</label><br />
        <input type="email" id="email" name="email" value="@ViewBag.Email" required />

        <br /><br />
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
</form>