@using CLS_SLE.Models;
@model CLS_SLE.ViewModels.ManageUsersViewModel
@{
    ViewBag.Title = "Manage Users ";
    int userCount = 0;
    User[] users = Model.Users.ToArray();
}

@section Styles
{
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 17px;
        }

            .switch input {
                display: none;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 13px;
                width: 13px;
                left: 2px;
                bottom: 2px;
                background-color: white;
                transition: .4s;
            }

        input[type="checkbox"]:checked + input[type="hidden"] + .slider,
        input[type="checkbox"]:checked + .slider {
            background-color: #2196F3;
        }

        input[type="checkbox"]:focus + input[type="hidden"] + .slider,
        input[type="checkbox"]:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
        input[type="checkbox"]:checked + .slider:before {
            transform: translateX(13px);
        }

        .slider.round {
            border-radius: 17px;
        }

            .slider.round:before {
                border-radius: 50%;
            }

        #clearSearchResults {
            background-color: red;
        }

        #searchForm{
            display:inline;
        }

        #SearchResultDiv
        {
            padding-bottom: 15px;
        }
    </style>



}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard")</li>
        <li class="breadcrumb-item active" aria-current="page">Manage Users</li>
    </ol>
</nav>
<h1>Manage Users</h1>
<br />
@if (Model.SearchTerm != null && Model.SearchTerm != "")
{
    <div id="SearchResultDiv">
        <h2>Search Results for: @(Model.SearchTerm != null ? Model.SearchTerm : "")</h2>

        <a href="#">
            <button class="btn btn-success col-3" type="button" name="resetSearch" formmethod="post" id="clearSearchResults">
                Clear Search Results
            </button>
        </a>
    </div>
}


<div class="row justify-content-between">
    <div class="col-2">
        <a href="/AdminUser/CreateUser">
            <button class="btn btn-success col-12" type="button" name="createUser" formmethod="post">
                <i class="fa fa-plus"></i> Add New User
            </button>
        </a>
    </div>

    <div class="col-6 float-right text-right">

        <span class="float-right text-right">
            <label for="SearchTerm">Search</label> <span>

                @using (Html.BeginForm("ManageUsers", "AdminUser", FormMethod.Post, new { id = "searchForm" }))
                {
                    <span>
                        @Html.TextBoxFor(vm => vm.SearchTerm, new { id = "searchBox" })
                    </span>

                    <button type="submit" id="searchSubmit" class="btn btn-primary d-inline ml-1" value="Submit"><i class="fas fa-search"></i></button>
                }
            </span>
        </span>
    </div>
</div>

<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Login</th>
            <th scope="col">Name</th>
            <th scope="col">ID</th>
            <th scope="col">Active Status</th>
            <!--
            <th scope="col" class="text-right" colspan="2">
                <form class="form form-inline float-right" method="get" id="UserSearch">
                    <div class="form-group">
                        <input class="form-control" name="Search" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-primary ml-1 form-control" form="UserSearch" type="submit" value="Submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </th>
                -->
        </tr>
    </thead>
    <tbody>


        @if (Model.Users != null && Model.Users.Count() > 0)
        {
            foreach (User user in Model.Users)
            {
                <tr id="User@(user.PersonID)Row">
                    <td>@(user.Login)</td>
                    <td>@(user.Person.LastName), @(user.Person.FirstName)</td>
                    <td>@(user.Person.IdNumber)</td>
                    <td><label class="switch">@Html.CheckBoxFor(u => u.Users.Where(userItem => userItem.PersonID == user.PersonID).FirstOrDefault().IsActive, new { id = user.PersonID + "Toggle", @class = "ActiveToggle" }) <div class="slider round"></div> </label></td>
                </tr>
            }
        }


    </tbody>


</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-select")
    <script type="text/javascript">
        var st = "@(Model.SearchTerm == null ? "null" : Model.SearchTerm)";
        //console.log(st);
        if (st != null)
        {
        }

        $(".ActiveToggle").on("change", function (item) {
            //alert("Toggled");
            let id = "" + $(item.currentTarget).prop("id");
            id = id.replace("Toggle", "");
            $.ajax({
                    url: '@Url.Action("SetUserActiveStatus","AdminUser")',
                    dataType: "json",
                    data: { PersonID: id ,  IsActive: $(item.currentTarget).prop("checked") },
                 success: function (data) {

                        },
                 error: function (e) {  console.log(e);}
        });


        });

        $("#clearSearchResults").on("click", function () {
            $("#searchBox").val("");
            //alert($("#searchBox").val(""));
            $("#searchForm").submit();
        });

        $("#searchBox").val("");

    </script>
}

