@using CLS_SLE.Models;
@model CLS_SLE.ViewModels.AddDepartmentViewModel
@{
    ViewBag.Title = "AddDepartment";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Departments", "Departments", "AdminDepartment")</li>
        <li class="breadcrumb-item active" aria-current="page">New Department</li>
    </ol>
</nav>
<h1>Add Department</h1>
<br />

@using (Html.BeginForm("CreateDepatment", "AdminDepartment", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Department Number:")
        @Html.EditorFor(Model => Model.Department.Number,
       new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Department.Number)
    </div>
    <div class="form-group">
        @Html.Label("Department Name:")
        @Html.EditorFor(Model => Model.Department.Name,
       new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Department.Name)
    </div>
    <div>
        @Html.DropDownListFor(Model => Model.Department.School, new List<SelectListItem>
        {
            foreach (School school in ViewBag.Schools) {new SelectListItem{Text="Male", Value="M"} }
   , "Please select")
    </div>
    <div class="form-group">
        @Html.Label("Is Active")
        @Html.EditorFor(Model => Model.Department.IsActive,
       new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Department.IsActive)
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}