@using CLS_SLE.Models;
@model CLS_SLE.ViewModels.SectionDetailViewModel
@{
    ViewBag.Title = "View Section";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Programs/Courses Dashboard", "ProgramDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Courses", "Courses", "AdminCourse", new { page = 1 }, null)</li>
        <li class="breadcrumb-item">@Html.ActionLink((String)Model.sectionCourse, "ViewCourse", "AdminCourse", new { courseID = Model.section.CourseID }, null)</li>
        <li class="breadcrumb-item active" aria-current="page">@Model.section.CRN</li>
    </ol>
</nav>
<h1>Section @Model.section.CRN  - <a style="font-size: 65%;" href="/AdminSection/EditSection?sectionID=@Model.section.SectionID">Edit <i class="fas fa-edit"></i></a> </h1>
<h2>@Model.section.Course.Number @Model.section.Course.CourseName</h2>
<br />
<div class="py-1">
    <b>Semester:</b> @Model.sectionSemester
</div>
<div class="py-1">
    <b>Lead Instructor:</b> @Model.sectionLeadInstructor
</div>
@if (Model.section.BeginDate != null)
{
    <div class="py-1">
        <b>Begin Date:</b> @Model.section.BeginDate.Value.ToShortDateString()
    </div>
}
else
{
    <div class="py-1">
        <b>Begin Date:</b> Unknown
    </div>
}

@if (Model.section.EndDate != null)
{
    <div class="py-1">
        <b>End Date:</b> @Model.section.EndDate.Value.ToShortDateString()
    </div>
}
else
{
    <div class="py-1">
        <b>End Date:</b> Unknown
    </div>
}

@if (Model.section.ModifiedDateTime != null)
{<div class="py-1">
        <b>Last Modified:</b>  @Model.section.ModifiedDateTime
    </div>
    <div class="py-1">
        <b>By User:</b> @Model.ModifierLogin
    </div>  }
@if (Model.section.CreatedDateTime != null)
{<div class="py-1">
        <b>Created:</b>  @Model.section.CreatedDateTime
    </div>
    <div class="py-1">
        <b>By User:</b> @Model.CreatorLogin
    </div>  }
<br />
<div>
    <h3>Enrollments</h3>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Student ID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Status</th>
                <th scope="col" class="text-right"><a class="float-right"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i> Enroll Student</button></a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Enrollment enrollment in Model.section.Enrollments)
            {
                if (enrollment.Equals(null))
                {
                    <p>There is no enrollment</p>
                }
                else
                {
                    <tr>
                        @using (Html.BeginForm("ToggleEnrollmentStatus", "AdminSection", new { Id = enrollment.EnrollmentID }, FormMethod.Post))
                        {
                            <td scope="col">@enrollment.Person.IdNumber</td>
                            <td scope="col">@enrollment.Person.FirstName @enrollment.Person.LastName</td>
                            <td scope="col">@enrollment.EnrollmentStatu.Name</td>
                            <td>
                                @if (enrollment.EnrollmentStatusCode == "E")
                                {<div class="form-group p-0 mx-1 float-right"><input type="submit" class="btn btn-danger col-12 mx-1" value="Drop/Withdraw" /></div>}
                                else if (enrollment.EnrollmentStatusCode == "D")
                                {<div class="form-group p-0 mx-1 float-right"><input type="submit" class="btn btn-primary col-12 mx-1" value="Re-enroll" /></div>}
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enroll Students</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="errorMessage"></div>
                <ul id="tempStudentList"></ul>
                <label>Student ID:</label>
                <input type="text" id="addStudentID" /> <button onclick="addStudentToList(@Model.section.SectionID)"><i class="fas fa-plus-circle"></i></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="enrollAllStudents(@Model.section.SectionID)">Submit</button>
            </div>
        </div>
    </div>
</div>