@using CLS_SLE.Models;
@model CLS_SLE.ViewModels.CoursesViewModel
@{
    /**/

    ViewBag.Title = "Courses";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Programs/Courses Dashboard", "ProgramDashboard", "Admin")</li>
        <li class="breadcrumb-item active" aria-current="page">Courses</li>
    </ol>
</nav>
<h1>Courses</h1>
<br />
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="h3">Course Number</th>
            <th scope="col" class="text-left">Course Name</th>
            <th scope="col" width="10%"><a class="float-right" href="/AdminCourse/AddCourse"><button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Add New Course</button></a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Course course in Model.Courses)
        {
            if (course.IsActive.Equals(false))
            {
                if (course.IsERPCourse.Equals(false))
                {
                    <tr>
                        <td>@course.Number</td>
                        <td class="text-left">@course.CourseName<span class="text-info">(Non Banner)</span><span class="text-danger">(Not Active)</span></td>
                        <td class="text-right">
                            <a href="ViewCourse?courseId=@course.CourseID"><button type="button" class="btn btn-primary">View</button></a>
                        </td>
                    </tr>
                }
                <tr>
                    <td>@course.Number</td>
                    <td class="text-left">@course.CourseName <span class="text-danger">(Not Active)</span></td>
                    <td class="text-right">
                        <a href="ViewCourse?courseId=@course.CourseID"><button type="button" class="btn btn-primary">View</button></a>
                    </td>
                </tr>
            }
            else
            {
                if (course.IsERPCourse.Equals(false))
                {
                    <tr>
                        <td>@course.Number</td>
                        <td class="text-left">@course.CourseName<span class="text-info">(Non Banner)</span></td>
                        <td class="text-right">
                            <a href="ViewCourse?courseId=@course.CourseID"><button type="button" class="btn btn-primary">View</button></a>
                        </td>
                    </tr>
                }
                <tr>
                    <td>@course.Number</td>
                    <td class="text-left">@course.CourseName </td>
                    <td class="text-right">
                        <a href="ViewCourse?courseId=@course.CourseID"><button type="button" class="btn btn-primary">View</button></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="row mb-3">
    <div class="col">
        <button disabled id="first" class="btn btn-outline-secondary" type="button" data-page="1"><i class="fas fa-angle-double-left"></i><span class="d-none d-md-inline"> First</span></button>
        <button disabled id="prev" class="btn btn-outline-secondary" type="button" data-page="@(Model.PagingInfo.PreviousPage)"><i class="fas fa-angle-left"></i><span class="d-none d-md-inline"> Prev</span></button>
    </div>
    <div class="col text-center text-secondary">
        <span id="start">@(Model.PagingInfo.RangeStart)</span>-<span id="end">@(Model.PagingInfo.RangeEnd)</span>
        of
        <span id="total">@(Model.PagingInfo.TotalItems)</span>
    </div>
    <div class="col text-right">
        <button disabled id="next" class="btn btn-outline-secondary" type="button" data-page="@(Model.PagingInfo.NextPage)"><span class="d-none d-md-inline">Next </span><i class="fas fa-angle-right"></i></button>
        <button disabled id="last" class="btn btn-outline-secondary" data-page="@(Model.PagingInfo.TotalPages)"><span class="d-none d-md-inline">Last </span><i class="fas fa-angle-double-right"></i></button>
    </div>
</div>