@using CLS_SLE.Models
@model CLS_SLE.ViewModels.UpdateSchoolViewModel
@{
    /**/

    ViewBag.Title = "EditSchool";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Programs/Courses Dashboard", "ProgramDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Schools", "Schools", "AdminSchool")</li>
        <li class="breadcrumb-item">@Html.ActionLink((String)ViewBag.school.Name, "ViewSchool", "AdminSchool", new { schoolID = ViewBag.school.SchoolID }, null)</li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>
<h1>Edit School</h1>
<br />
@using (Html.BeginForm("UpdateSchool", "AdminSchool", new { schoolID = ViewBag.school.SchoolID }, FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("School Name:")
        @Html.EditorFor(Model => Model.School.Name,
       new { htmlAttributes = new { @class = "form-control", Value = ViewBag.school.Name } })
        @Html.ValidationMessageFor(model => model.School.Name)
    </div>

    <div class="form-group">
        <div class="row">
            @Html.Label("Is Active:", htmlAttributes: new { @class = "col-3" })
            <div class="col-sm-1">
                @Html.RadioButtonFor(Model => Model.IsActive, true)
                @Html.Label("Yes")
            </div>
            <div class="col-sm-8">
                @Html.RadioButtonFor(Model => Model.IsActive, false)
                @Html.Label("No")
            </div>
        </div>
    </div>

    <div class="row justify-content-end col-9">
        <div class="form-group col-2 p-0 mx-1"><input type="submit" class="btn btn-primary col-12 mx-1" value="Submit" /></div>
        <div class="col-2 p-0 mx-1"><a href="/AdminSchool/ViewSchool?schoolID=@ViewBag.school.SchoolID"><button type="button" class="btn btn-danger col-12 mx-1">Cancel</button></a></div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}