@using CLS_SLE.Models;
@model CLS_SLE.ViewModels.SectionDetailViewModel
@{
    ViewBag.Title = "View Section";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Programs-Courses Dashboard", "ProgramDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Courses", "Courses", "AdminCourse", new { page = 1 }, null)</li>
        <li class="breadcrumb-item">@Html.ActionLink((String)Model.sectionCourse, "ViewCourse", "AdminCourse", new { courseID = Model.section.CourseID }, null)</li>
        <li class="breadcrumb-item active" aria-current="page">@Model.section.CRN</li>
    </ol>
</nav>
<h1>Section @Model.section.CRN  - <a style="font-size: 65%;" href="/AdminSection/EditSection?sectionID=@Model.section.SectionID">Edit <i class="fas fa-edit"></i></a> </h1>
<h2> @Model.section.Course.CourseName @Model.section.Course.Number</h2>
<br />
<div class="py-1">
    <b>Semester:</b> @Model.sectionSemester
</div>
<div class="py-1">
    <b>Course:</b> @Model.sectionCourse
</div>
<div class="py-1">
    <b>Lead Instructor:</b> @Model.sectionLeadInstructor
</div>

@if (Model.section.BeginDate != null)
{
    <div class="py-1">
        <b>Begin Date:</b> @Model.section.BeginDate
    </div>
}
else
{
    <div class="py-1">
        <b>Begin Date:</b> <span>Unknown</span>
    </div>
}
@if (Model.section.EndDate != null)
{
    <div class="py-1">
        <b>End Date:</b> @Model.section.BeginDate
    </div>
}
else
{
    <div class="py-1">
        <b>End Date:</b> <span>Unknown</span>
    </div>
 }
@if (Model.section.ModifiedDateTime != null)
{<div class="py-1">
        <b>Last Modified:</b>  @Model.section.ModifiedDateTime
    </div>
    <div class="py-1">
        <b>By User:</b> @Model.ModifierLogin
    </div>}
@if (Model.section.CreatedDateTime != null)
{<div class="py-1">
        <b>Created:</b>  @Model.section.CreatedDateTime
    </div>
    <div class="py-1">
        <b>By User:</b> @Model.CreatorLogin
    </div>}
<br />
<div>
    <h3>Enrollments</h3>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th colspan="9">Student Names</th>
                <th colspan="2"></th>
                <th colspan="1"><a class="float-right"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i> Enroll Student</button></a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Enrollment enrollment in Model.enrolled)
            {
                if (enrollment.Equals(null))
                {
                    <p>There is no enrollment</p>
                }
                else
                {
                    <tr>
                        @using (Html.BeginForm("Drop", "AdminSection", new { Id = enrollment.EnrollmentID }, FormMethod.Post))
                        {
                            <td colspan="9">@enrollment.Person.LastName , @enrollment.Person.FirstName - @enrollment.Person.IdNumber</td>
                            <td colspan="2">@enrollment.EnrollmentStatu.Name</td>
                            <td colspan="1">
                                <div class="form-group float-right"><input type="submit" class="btn btn-danger" value="Drop/Withdraw" /></div>
                            </td>
                        }
                    </tr>
                }
            }
            @foreach (Enrollment enrollment in Model.dropped)
            {
                <tr>
                    <td colspan="9">@enrollment.Person.LastName , @enrollment.Person.FirstName - @enrollment.Person.IdNumber</td>
                    <td colspan="2" class="text-danger">@enrollment.EnrollmentStatu.Name</td>
                    <td colspan="1"></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enroll Students</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="errorMessage"></div>
                <ul id="tempStudentList" style="list-style: none"></ul>
                <label>Student ID:</label>
                <input type="text" id="addStudentID" style="border-radius:4px"/> 
                <button onclick="addStudentToList(@Model.section.SectionID)" style="background-color:white; border:0; padding:0"><i class="fas fa-plus-circle" style="color:#28a745"></i></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="enrollAllStudents(@Model.section.SectionID)">Submit</button>
            </div>
        </div>
    </div>
</div>
