<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SLE Assessments</title>
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>


    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand my-0 mr-md-auto" href="/"><img id="logo" src="https://www.wctc.edu/_resources/images/waukesha_logo.svg" alt="Waukesha County Technical College" width="250" height="54"></a>
            
            <ul class="navbar-nav" id="navLinkOverride">
                @if (((CLS_SLE.Models.User)Session["user"]) != null)
                {
                    <li class="nav-item dropleft">
                        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @(((CLS_SLE.Models.User)Session["user"]).Login.ToUpper())
                        </button>
                        <div style="position: absolute;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="~/User/ChangePassword">Change Password</a>
                            <a class="dropdown-item" href="~/Home/SignOut">Sign Out</a>
                        </div>
                    </li>
                }
            </ul>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer style="margin-bottom:10vh"></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    
    <script>
        window.onscroll = function () { myFunction() };
        
        // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function myFunction() {
            
            if (window.scrollY >= 10) {
                $('#logo').css("width",
                    $('.container').css('margin-left')
                );
            } else {
                $('#logo').css("width", 250);
            }
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
