<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CLS-SLE</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home/Index" class="navbar-brand"><i class="fa fa-home"></i> Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/User/SignIn"><i class="fa fa-sign-in"></i> Sign In</a></li>
                    @*<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-users"></i>&nbsp;Account <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                @if (!Request.IsAuthenticated)
                {
                    <li><a href="~/User/SignIn"><i class="fa fa-sign-in"></i> Sign In</a></li>
                    <li><a href="~/User/Register"><i class="fa fa-user-plus"></i> Register</a></li>
                    <li role="separator" class="divider"></li>
                }
                <li><a href="~/User/Account"><i class="fa fa-user"></i> Your Account</a></li>
            </ul>


        </li>*@
                </ul>
                @*@if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="~/Home/SignOut"><i class="fa fa-sign-out"></i> Sign Out</a></li>
                    </ul>
                }*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CLS-SLE</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
