<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SLE Assessments</title>
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>


    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light  fixed-top">
            <a class="navbar-brand my-0 mr-md-auto" href="/"><img id="logo" src="https://www.wctc.edu/_resources/images/waukesha_logo.svg" alt="Waukesha County Technical College" width="250" height="54"></a>
            <ul class="nav flex-column">

                @if (((CLS_SLE.Models.User)Session["user"]) != null)
                {

                    <li class="nav-item">
                        <a class="nav-link active" href="~/Home/SignOut">Sign Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="">@(((CLS_SLE.Models.User)Session["user"]).Login)</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer style="margin-bottom:10vh"></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    
    <script>
        window.onscroll = function () { myFunction() };
        
        // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function myFunction() {
            
            if (window.scrollY >= 10) {
                $('#logo').css("width",
                    $('.container').css('margin-left')
                );
            } else {
                $('#logo').css("width", 250);
            }
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
