<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SLE Assessments</title>
    @Styles.Render("~/Content/css")
    
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")

    @{
        var ver = typeof(CLS_SLE.MvcApplication).Assembly.GetName().Version;
        string versionDisplay = $"SLE Assessment v{ver.Major}.{ver.Minor}.{ver.Build}";
     }

</head>
<body>
    <div class="container-fluid bg-white mb-5" style="border-bottom: 3px solid #003e7a;">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand my-0 mr-md-auto" href="/">
                @*<img  src="https://www.wctc.edu/_resources/images/waukesha_logo.svg"  >*@
                <img id="logo" src="~/Images/waukesha_logo.svg" alt="Waukesha County Technical College" width="250" height="54" />
            </a>

            <ul class="navbar-nav" id="navLinkOverride">

                @if (Request.Url.Host.Contains("dev"))
                {
                    <li class="nav-item" style="margin-right: 10px;line-height: 40px;">Dev Mode</li>
                }

                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropleft">
                        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @(HttpContext.Current.User.Identity.Name.ToUpper())
                        </button>
                        <div style="position: absolute;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <!--<a class="dropdown-item" href="~/User/ChangePassword">Change Password</a>-->
                            <a class="dropdown-item" href="~/Home/SignOut">Sign Out</a>
                        </div>
                    </li>
                }
            </ul>
        </nav>
    </div>
    <div class="alert alert-success alert-dismissible fade hide" role="alert">
        A simple success alert—check it out!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    @{

        var ControllerName = string.Empty;
        object Controller;

        if (ViewContext.RouteData.Values.TryGetValue("controller", out Controller))
        {
            ControllerName = Controller.ToString();
        }

    }
    <div class="container">
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {


            <div class="row justify-content-center">
                <ul class="nav nav-tabs col-12 pt-0">l
                    @*Needs to be manually updated for each new controller*@
                    @if (HttpContext.Current.User.IsInRole("Administrator") || HttpContext.Current.User.IsInRole("RoleWithMembers") || HttpContext.Current.User.IsInRole("RoleWithoutMembers"))
                    {
                        <li class="nav-item h2">
                            <a class="nav-link align-bottom @((ControllerName.Equals("Admin") || ControllerName.Equals("RoleAdmin") || ControllerName.Equals("AdminUser") || ControllerName.Equals("Rubric") || ControllerName.Equals("AdminMapping") || ControllerName.Equals("AdminScheduling")) ? "active bg-white pb-4" : "bg-light mt-3")" href="~/Admin/AdminDashboard">Admin Dashboard</a>
                        </li>
                    }
                    @if (HttpContext.Current.User.IsInRole("Faculty"))
                    {
                        <li class="nav-item h2">
                            <a class="nav-link align-bottom @(ControllerName.Equals("InstructorAssessments")  ? "active bg-white pb-4" : "bg-light mt-3")" href="~/InstructorAssessments/Dashboard">Faculty Dashboard</a>
                        </li>
                    }
                </ul>
            </div>



        }
        <div class="bg-white" id="MainBody">
            @RenderBody()
        </div>
        <footer style="margin-bottom:4vh">
            <div style="float:right;color:white;font-size:12px;">
                @versionDisplay
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    

    <script>
        window.onscroll = function () { myFunction() };

        @* Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position *@
        function myFunction() {

            if (window.scrollY >= 100) {
                $('#logo').css("width",
                    $('.container').css('margin-left')
                );
            } else {
                $('#logo').css("width", 250);
            }
        }
        $(function () {
            initButtons();
            function initButtons() {
                $('#first, #prev').prop('disabled', $('#start').html() == "1");
                $('#last, #next').prop('disabled', $('#end').html() == $('#total').html());
                $("#addDepartmentSubmit").click(function () { console.log('hi');$('.alert').alert(); });
            }
        });

        $("#courseSearch").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("CourseAutoComplete","AdminCourse")',
                    dataType: "json",
                    data: {search: $("#courseSearch").val()},
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.detailedName, value: item.name };
                        }))
                    },
                    error: function (xhr, status, error) { alert("Error");}
                });
            }
        });

        $("#programSearch").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("ProgramAutoComplete","AdminProgram")',
                    dataType: "json",
                    data: {search: $("#programSearch").val()},
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.name };
                        }))
                    },
                    error: function (xhr, status, error) { alert("Error");}
                });
            }
        });


        $("#studentSearch").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("StudentAutoComplete","AdminSection")',
                    dataType: "json",
                    data: {search: $("#studentSearch").val()},
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.listView, value: item.listView };
                        }))
                    },
                    error: function (xhr, status, error) { alert("Error");}
                });
            }
        });

        function addStudentToList(sectionID) {
            $.ajax({
                url: '@Url.Action("StudentListInfo","AdminSection")',
                dataType: "json",
                data: { search: $("#addStudentID").val(), id: sectionID },
                success: function (data) {

                    if (data.success) {
                        $('#tempStudentList').append(
                            '<li id="' + data.PID + '"><button onclick="removeStudentFromList(' + data.PID + ')" style="background-color:white; border:0; padding:0" >' +
                            '<i class="fas fa-minus-circle" style="color:#dc3545"></i></button>	&nbsp;' +
                            '<span value="' + data.id + '">' + data.lastName + ',  ' + data.firstName + ' - ' + data.id + '</span>' +
                            '</li>'
                        );
                    }
                    else {
                        swal("Oops!", data.message, "error");
                    }
                },
                error: function (data) {
                    swal("Oops!", data.message, "error");
        }
            });
            $('#addStudentID').val('');
        }

        function removeStudentFromList(id) {
            $('#' + id).remove();
        }

        function enrollAllStudents(sectionID) {
            var listItems = $("#tempStudentList li");
            listItems.each(function () {
                $.ajax({
                    url: '@Url.Action("SaveEnrollment","AdminSection")',
                    dataType: "json",
                    data: { id: this.id, section: sectionID },
                    success: function (data) {
                    },
                    error: function () {}
                });
            });
            @*$.ajax({
                    url: '@Url.Action("ViewSection","AdminSection",{ })',
                    success: function (data) {},
                    error: function () {}
                });*@
            location.reload();
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
