@using CLS_SLE.Models;
@model CLS_SLE.Models.PasswordResetEdit
@{
    ViewBag.Title = "PasswordResetForm";
}

<div class="font-md"><h2>Choose Your New Password</h2></div>
<div class="well">
    <form class="form-horizontal" method="post">
        <!-- Login -->
        <div class="form-group">
            <div class="col-md-10">
                <h3>Login</h3>
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", placeholder = "Login" } })
            </div>
        </div>
        <!-- Email -->
        <div class="form-group">
            <div class="col-md-10">
                <h3>Email</h3>
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
            </div>
        </div>
        <!-- Unique Code -->
        <div class="form-group">
            <div class="col-md-10">
                <h3>Unique Code</h3>
                @Html.EditorFor(model => model.PWResetKey, new { htmlAttributes = new { @class = "form-control", placeholder = "Unique Code" } })
            </div>
        </div>
        <!-- New Password -->
        <div class="form-group">
            <div class="col-md-10">
                <h3>New Password</h3>
                @Html.PasswordFor(model => model.Hash, new { @class = "form-control", placeholder = "New Password" })
            </div>
        </div>
        <!-- Confirm New Password -->
        <div class="form-group">
            <div class="col-md-10">
                <h3>Confirm New Password</h3>
                @Html.PasswordFor(model => model.SecondHash, new { @class = "form-control", placeholder = "Confirm Password" })
            </div>
        </div>
        <!-- Submit -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </div>
        </div>

    </form>
</div>