@using CLS_SLE.Models;
@{
    ViewBag.Title = "View School";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Programs & Courses", "ProgramDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Schools", "Schools", "AdminSchool")</li>
        <li class="breadcrumb-item active" aria-current="page">@Model.school.Name </li>
    </ol>
</nav>
<h1>
    @Model.school.Name  -  @if (HttpContext.Current.User.IsInRole("EditSchools"))
    {<a style="font-size: 60%;" href="/AdminSchool/EditSchool?schoolID=@Model.school.SchoolID">Edit <i class="fas fa-edit"></i></a>}
    </h1>
<br />
<div class="py-1">
    <b>Is Active:</b> @Model.school.IsActive
</div>

@if (Model.school.ModifiedDateTime != null)
{<div class="py-1">
        <b>Last Modified:</b>  @Model.school.ModifiedDateTime
    </div>
    <div class="py-1">
        <b>By User:</b> @Model.ModifierLogin
    </div>  }
@if (Model.school.CreatedDateTime != null)
{<div class="py-1">
        <b>Created:</b>  @Model.school.CreatedDateTime
    </div>
    <div class="py-1">
        <b>By User:</b> @Model.CreatorLogin
    </div>  }
<br />
<div>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="h3">Departments</th>
                <th scope="col" class="h3"></th>
                <th scope="col" class="text-right"></th>
                <th scope="col" width="10%">
                    @if (HttpContext.Current.User.IsInRole("AddDepartments"))
                    {
                        <a href="~/AdminDepartment/AddDepartment" class="float-right btn btn-success">
                            <i class="fa fa-plus"></i> Add New Department
                        </a>
                    }
                    </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Department department in Model.school.Departments)
            {
                if (department.IsActive.Equals(false))
                {
            <tr>
                <td colspan="1">@department.Number</td>
                <td colspan="2">@department.Name<span class="text-danger">(Not Active)</span></td>
                <td class="text-right">
                    @if (HttpContext.Current.User.IsInRole("ViewDepartments"))
                    {
                        <a href="../AdminDepartment/ViewDepartment?departmentID=@department.DepartmentID"><button type="button" class="btn btn-primary">View</button></a>
                    }
                    </td>
            </tr>
                }
                else
                {
                    <tr>
                        <td colspan="1">@department.Number</td>
                        <td colspan="2">@department.Name</td>
                        <td class="text-right">
                            @if (HttpContext.Current.User.IsInRole("ViewDepartments"))
                            {
                                <a href="../AdminDepartment/ViewDepartment?departmentID=@department.DepartmentID"><button type="button" class="btn btn-primary">View</button></a>
                            }
                            </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@if (Model.updatedMessage != null)
{
    <script type="text/javascript">
    console.log('here');
        window.onload = function () {
            swal("@Model.alertMessage", "", "@Model.updatedMessage");
            };
    </script>
}