@using CLS_SLE.Models;
@model CLS_SLE.ViewModels.AddProgramViewModel
@{
    /**/

    ViewBag.Title = "AddProgram";
}

@section Styles{
    @Styles.Render("~/Content/bootstrap-multiselect.css")
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Programs & Courses", "ProgramDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Programs", "Programs", "AdminProgram", new { page = 1 }, null)</li>
        <li class="breadcrumb-item active" aria-current="page">New Program</li>
    </ol>
</nav>
<h1>Add Program</h1>
<br />
@using (Html.BeginForm("CreateProgram", "AdminProgram", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Program Number:")
        @Html.EditorFor(Model => Model.Program.Number,
       new { htmlAttributes = new { @class = "form-control", required = "required" } })
        @Html.ValidationMessageFor(model => model.Program.Number)
    </div>
    <div class="form-group">
        @Html.Label("Program Name:")
        @Html.EditorFor(Model => Model.Program.Name,
       new { htmlAttributes = new { @class = "form-control", required = "required" } })
        @Html.ValidationMessageFor(model => model.Program.Name)
    </div>
    <div>
        @Html.Label("Department(s):")
        @Html.ListBoxFor(d => d.DepartmentSelection, new MultiSelectList(Model.DepartmentNames),
         new { id = "ListBox1", @class = "form-control", multiple = "multiple" })
    </div>
    <div class="form-group">
        <div class="row">
            @Html.Label("Shared Program:", htmlAttributes: new { @class = "col-3" })
            <div class="col-sm-1">
                @Html.RadioButtonFor(Model => Model.Program.IsSharedProgram, true, new { @checked = "checked" })
                @Html.Label("Yes")
            </div>
            <div class="col-sm-8">
                @Html.RadioButtonFor(Model => Model.Program.IsSharedProgram, false)
                @Html.Label("No")
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            @Html.Label("Active:", htmlAttributes: new { @class = "col-3" })
            <div class="col-sm-1">
                @Html.RadioButtonFor(Model => Model.Program.IsActive, true, new { @checked = "checked" })
                @Html.Label("Yes")
            </div>
            <div class="col-sm-8">
                @Html.RadioButtonFor(Model => Model.Program.IsActive, false)
                @Html.Label("No")
            </div>
        </div>
    </div>

    <div class="row justify-content-end col-9">
        <div class="form-group col-2 p-0 mx-1"><input type="submit" class="btn btn-primary col-12 mx-1" value="Submit" /></div>
        <div class="col-2 p-0 mx-1"><a href="/AdminProgram/Programs?page=1"><button type="button" class="btn btn-danger col-12 mx-1">Cancel</button></a></div>
    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/bootstrap-multiselect.js")

<script>
    //$('#editSumbit').click(function () { swal("Good job!", "You clicked the button!", "success"); });
    $(document).ready(function () {
        $('#ListBox1').multiselect();
    });
</script>

}

