@using CLS_SLE.Models
@{
    ViewBag.Title = "EditProgram";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Programs", "Programs", "AdminPrograms")</li>
        <li class="breadcrumb-item">@Html.ActionLink((String)Model.program.Name, "ViewProgram", "AdminPrograms", new { programID = Model.program.ProgramID }, null)</li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>
<h1>Edit Program</h1>
<br />

<form method="post" action="@Url.Action("SaveProgram", "AdminPrograms", new { programID = Model.program.ProgramID })">
    <div class="form-row">
        <div class="form-group col-9">
            <label for="Number">Number:</label>
            <input type="text" name="Number" class="form-control" value="@Model.program.Number" required />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-9">
            <label for="Name">Name:</label>
            <input type="text" name="Name" class="form-control" value="@Model.program.Name" required />
        </div>
    </div>
    <fieldset class="form-group col-9">
        <div class="row">
            <legend class="col-form-label col-4 pt-0">Is Active:</legend>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="IsActive" id="IsActiveTrue" value="True" @(Model.program.IsActive ? " checked=\"checked\"" : "")>
                <label class="form-check-label" for="IsActiveTrue">True</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="IsActive" id="IsActiveFalse" value="False" @(!Model.program.IsActive ? " checked=\"checked\"" : "")>
                <label class="form-check-label" for="IsActiveFalse">False</label>
            </div>
        </div>
    </fieldset>
    <div class="row justify-content-end col-9">
        <div class="col-2 p-0 mx-1"><button class="btn btn-primary mx-1 col-12" type="submit" name="submit" formmethod="post">Update</button></div>
        <div class="col-2 p-0 mx-1"><a href="/AdminPrograms/ViewProgram?programID=@Model.program.ProgramID" class="btn btn-danger col-12 mx-1">Cancel</a></div>
    </div>
</form>
