@using CLS_SLE.Models;
@{
    ViewBag.Title = "Manage Role - " + Model.RoleName;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Manage Roles", "Index")</li>
        <li class="breadcrumb-item active" aria-current="page">Manage Role - @Model.RoleName </li>
    </ol>
</nav>

<h1>Edit Role Permissions </h1>

<div class="row my-2 justify-content-between bg-dark text-light">
    <div class="col-3 my-2 h3">@Model.RoleName</div>
</div>

@{bool IsFirstRow = true;
    var i = 0;
}
@foreach (Permission permission in Model.Permissions)
{

    <form class="form-inline @if (!IsFirstRow) { <text>border-top</text>} border-right my-0 @if (i % 2 == 1) { <text>bg-light</text>} " action="~/RoleAdmin/UpdateRole" method="POST">
        @{IsFirstRow = false;
            bool IsMember = false;
            i++;

            foreach (RolePermission rolePermission in Model.RolePermissions)
            {
                if (rolePermission.RoleID == Model.RoleID && rolePermission.PermissionID == permission.PermissionID)
                {
                    IsMember = true;
                }
            }
        }
        <div class="col-4 my-1 mr-auto h4">@permission.Name</div>
        <div class="col-1 my-2">
            <button @if (IsMember) { <text> class="btn btn-success col-12" type="button" </text>  } else { <text> class="btn btn-outline-success col-12" type="submit" name="submit" value="add" formmethod="post" </text> }>
                <i class="fas fa-check"></i>
            </button>
        </div>
        <div class="col-1 my-2">
            <button @if (IsMember) { <text> class="btn btn-outline-danger col-12" type="submit" name="submit" value="delete" formmethod="post" </text>  } else { <text> class="btn btn-danger col-12" type="button" </text> }>
                <i class="fas fa-times"></i>
            </button>
        </div>
        <input type="hidden" name="roleID" value="@Model.RoleID" />
        <input type="hidden" name="permissionID" value="@permission.PermissionID" />
    </form>
}


<input type="hidden" id="refresh" value="no">
@section scripts{
    <script type="text/javascript">
        window.onpageshow = function (event) {
            if (event.persisted) {
                location.reload(); //reload page if it has been loaded from cache
            }
        };
    </script>

} 