@using CLS_SLE.Models;

@{
        ViewBag.Title = "AddAssessment";
}

<h2>Add Assessment</h2>


<form method="post" action="/Admin/InsertNewAssessment">
    <div class="form-row">
        <div class="form-group col-9">
            <label for="Name">Name:</label>
            <input type="text" name="Name" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-9">
            <label for="Category">Category:</label>
            @*<input type="text" name="Category" class="form-control" placeholder="@Model.Category" disabled />*@
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-9">
            <label for="Description">Description:</label>
            <textarea name="Description" class="form-control" rows="6"></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-9">
            <label for="PassPercent">Pass Percentage:</label>
            <input type="text" name="Name" class="form-control" />
        </div>
    </div>
    <fieldset class="form-group col-9">
        <div class="row">
            <legend class="col-form-label col-2 pt-0">Calculate Outcome Pass Rate:</legend>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="CalculateOutcomePassRate" id="CalculateOutcomePassRateTrue" value="True">
                <label class="form-check-label" for="CalculateOutcomePassRateTrue">True</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="CalculateOutcomePassRate" id="CalculateOutcomePassRateFalse" value="False">
                <label class="form-check-label" for="CalculateOutcomePassRateFalse">False</label>
            </div>
        </div>
    </fieldset>
    <div class="form-row">
        <div class="form-group col-9">
            <label for="Program">Program</label>
            <select class="form-control" id="Program" name="Program">
                @{
                    foreach (Program p in Model.Programs)
                    {
                        <option>p.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <fieldset class="form-group col-9">
        <div class="row">
            <legend class="col-form-label col-2 pt-0">Is Active:</legend>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="IsActive" id="IsActiveTrue" value="True">
                <label class="form-check-label" for="IsActiveTrue">True</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="IsActive" id="IsActiveFalse" value="False">
                <label class="form-check-label" for="IsActiveFalse">False</label>
            </div>
        </div>
    </fieldset>
    <div class="row justify-content-end col-9">

        <button class="btn btn-primary col-2 mx-1" type="submit" name="submit" formmethod="post">Submit</button>
        <a href="/Admin/Assessments"><button type="button" class="btn btn-danger col-2 mx-1"></button></a>
    </div>

</form>

@*@{
    using (Html.BeginForm("SaveAssessment", "Admin", FormMethod.Post))
    {
        
        <div>
            @Html.LabelFor(m => m.Name, "Name: ")
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div>
            @Html.LabelFor(m => m.Category, "Category: ")
            @Html.TextBoxFor(m => m.Category)
        </div>
        <div>
            @Html.LabelFor(m => m.Description, "Description: ")
            @Html.TextBoxFor(m => m.Description)
        </div>
        <div>
            @Html.LabelFor(m => m.OutcomePassRate, "Outcome Pass Rate: ")
            @Html.TextBoxFor(m => m.OutcomePassRate)
        </div>
        <div>
            @Html.LabelFor(m => m.CalculateOutcomePassRate, "Calculate Outcome Pass Rate: ")
            @Html.TextBoxFor(m => m.CalculateOutcomePassRate)
        </div>
        <div>
            @Html.LabelFor(m => m.ProgramID, "Program ID: ")
            @Html.TextBoxFor(m => m.ProgramID)
        </div>
        <div>
            @Html.LabelFor(m => m.IsActive, "Is Active: ")
            @Html.TextBoxFor(m => m.IsActive)
        </div>

        <input type="submit" value="Save Assessment" />
        <input type="reset" value="Cancel Changes" />
    }
}*@

