@model CLS_SLE.Models.AssessmentSchedulingViewModel
@{
    ViewBag.Title = "AssessmentScheduling";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard")</li>
        <li class="breadcrumb-item active" aria-current="page">Scheduling</li>
    </ol>
</nav>
<h1>Assessment Scheduling</h1>
<br />

@foreach (var program in Model.Programs)
{
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="h3">@program.Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <span class="mt-2 h3"><b>Course Name</b></span>
                    <span class="right h3"><b>Course Number</b></span>
                </th>
            </tr>

            @foreach (var c in Model.Courses)
            {
                <tr>
                    <td>
                        <span class="mt-2">@c.CourseName</span>
                        <button type="button" class="btn btn-primary right">Edit</button>
                        <span class="right mr-3 mt-2">@c.Number</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@*TODO: Talk about db entries to group assessments*@
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="h3">
                Assessments
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="col" class="h3"><b>Assessment Name</b></td>
            <td scope="col" class="h3 right"><b>Assessment ID</b></td>
        </tr>
        @foreach (var assessment in Model.Assessments)
        {
            if (assessment.IsActive)
            {
                <tr>
                    <td>
                        <span class="mt-2">
                            @Html.ActionLink(assessment.Name, "ViewAssessment", new { assessment.AssessmentID })
                        </span>
                        <span class="right mr-3 mt-2">
                            @assessment.AssessmentID
                        </span>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@*
    TODO: Discuss if we need this

        @if (course.CourseID.Equals(courseProgram.CourseID ))
        {
            <table class="table table-hover">

                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="h3">@course.CourseName</th>
                        <th scope="col" class="text-right">@course.CourseID</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            foreach (Assessment assessment in Model.assessments)
            {

                if (assessment.ProgramID.Equals(courseProgram.ProgramID))
                {
                    if (assessment.IsActive.Equals(true))
                    {
        <tr>

            <td>
                <span class="mt-2">@assessment.Name</span>
                <a href="ViewAssessment?assessmentId=@assessment.AssessmentID">
                    <button type="button" class="btn btn-primary right">Edit</button>
                </a>
                @Html.ActionLink(assessment.Name, "ViewAssessment", new { assessment.AssessmentID })
            </td>


            <!--@*
             <td colspan="2">assessment.Name <span class="text-danger">(Not Active)</span></td>
             td class="text-right">
                <a href="ViewAssessment?assessmentId=@assessment.AssessmentID"><button type="button" class="btn btn-primary">View</button></a>
                @Html.ActionLink(assessment.Name, "ViewAssessment", new { assessment.AssessmentID })
            </td>

    </tr>
                }
                else
                {
    <tr>

        <td colspan="2">@assessment.Name</td>
        <td class="text-right">
            <a href="ViewAssessment?assessmentId=@assessment.AssessmentID"><button type="button" class="btn btn-primary">View</button></a>
            @Html.ActionLink(assessment.Name, "ViewAssessment", new { assessment.AssessmentID })
        </td>
    </tr>
                }
            }
        }
    }

    *@