@model CLS_SLE.Models.AssessmentMappingsViewModel

@{
    ViewBag.Title = "AssessmentMapping";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard")</li>
        <li class="breadcrumb-item active" aria-current="page">Mapping</li>
    </ol>
</nav>

<h2> Assessment Mapping </h2>

@foreach (var program in Model.Programs)
{
    var rubrics = Model.AssessmentRubrics.Select(r => r.ProgramAssessmentMappings.Where(m => m.ProgramID == program.ProgramID));

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="h3">@program.Name <button type="button" class="btn btn-primary right" data-toggle="modal" data-target="#modal@(program.Number)">Assign</button></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var grouping in rubrics)
            {
                foreach (var assessment in grouping)
                {
                    <tr>
                        <td><h5>@assessment.AssessmentRubric.Name</h5></td>
                    </tr>
                    @*
                        <tr>
                            <td>
                                <p> @rubric.Name </p>
                                <div class="row">
                                    @foreach (var course in Model.Courses)
                                    {
                                        foreach (var pam in Model.ProgramAssessmentMappings)
                                        {
                                            if (pam.CourseID == course.CourseID && pam.RubricID == rubric.RubricID)
                                            {
                                                <ul class="">
                                                    <li class="list-unstyled"><b>@course.CourseName</b></li>
                                                </ul>
                                            }
                                        }
                                    }
                                    </div>
                            </td>
                        </tr>
                    *@

                    @*
                        Should be here, but does not work as is
                        <tr>
                            <td><h5>@rubrics.AssessmentRubric.Name</h5></td>
                        </tr>
                    *@

                    foreach (var rubric in grouping)
                    {

                        <tr>
                            <td>@rubric.Course.CourseName</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>

    <!--Assign Modal-->
    {
        <div class="modal fade" id="modal@(program.Number)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalHeader@(program.Number)">@program.Name</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table>
                            <thead>

                            </thead>

                            @foreach (var grouping in rubrics)
                            {
                                foreach (var rubric in grouping)
                                {
                                    <tr>
                                        <td><input type="radio" name="assessmentSelect" id="@rubric.AssessmentRubric.RubricID.">@rubric.AssessmentRubric.Name</td>
                                    </tr>
                                }

                            }
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <script>
    if(document.getElementById('').checked) {
        //Show the courses that are associated with assessments
    }
    </script>
}