@model CLS_SLE.Models.AssessmentSchedulingViewModel
@{
    ViewBag.Title = "AssessmentScheduling";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard")</li>
        <li class="breadcrumb-item active" aria-current="page">Scheduling</li>
    </ol>
</nav>
<h1>Assessment Scheduling</h1>

@foreach (var program in Model.Programs)
{
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="h3">@program.Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <span class="mt-2 h3"><b>Course Name</b></span>
                    <span class="right h3"><b>Course Number</b></span>
                </th>
            </tr>

            @foreach (var c in Model.Courses)
            {
                <tr>
                    <td>
                        <span class="mt-2 pr-lg-3">@c.CourseName</span>
                        @*If ruberic is assigned show ruberic name else show following button to assign*@
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#assignRubric">Assign</button>
                        <button type="button" class="btn btn-primary right" data-toggle="modal" data-target="#scheduleRubric">Schedule</button>
                        <span class="right mr-3 mt-2">@c.Number</span>

                        <!--Assign Modal-->
                        <div class="modal fade" id="assignRubric" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Assign Rubric</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @*TODO: Talk about db entries to group assessments*@
                                        <table class="table table-hover">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col" class="h3">
                                                        @c.CourseName - @c.CourseID
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td scope="col" class="h3"><b>Assessment Name</b></td>
                                                    @* Modal width needs to be increase to include this if necessary

                                                    <td scope="col" class="h3 right"><b>ID</b></td>*@
                                                </tr>
                                               
                                                @foreach (var assessment in Model.Assessments)
                                                {
                                                    if (assessment.IsActive)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <span class="mt-2">
                                                                    @Html.ActionLink(assessment.Name, "ViewAssessment", new { assessment.AssessmentID })
                                                                </span>
                                                                <span class="right mr-3 mt-2">
                                                                    @assessment.AssessmentID
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Schedule Modal-->
                        <div class="modal fade" id="scheduleRubric" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Schedule</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <table>
                                            <thead>
                                                @c.CourseName - @c.CourseID
                                            </thead>
                                            <tr>
                                                <td>
                                                    <input type="date" value="Start Date" />
                                                </td>
                                                <td>
                                                    <input type="date" value="End Date" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}