@using CLS_SLE.Models;
@{
    ViewBag.Title = "UserSecurity";
    var x = 0;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("AdminDashboard", "AdminDashboard")</li>
        <li class="breadcrumb-item active" aria-current="page">User Security</li>
    </ol>
</nav>

<h1>User Permissions</h1>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th style="text-align: center">Current Permissions</th>
            <th style="text-align: center">Edit</th>
        </tr>
    </thead>
    <tbody id="students">
        @foreach (UserSecurity person in Model.UserSecurityList)
            {
            <tr data-userID="person.PersonID" class="user-row">
                <td style="width: 120px;">@person.PersonID</td>
                <td>@person.LastName<text>,</text> @person.FirstName</td>
                <td style="width: 100px; text-align: center">
                    @if (person.Roles.Any()) { 
                    <span style="right: 0px; top: 0px; width: 100%;" class="badge badge-dark">
                        @foreach (Role role in person.Roles)
                        {
                            @role.Name<text>, </text>
                        }
                        
                    </span>
                    }
                </td>
                <td style=" width: 100px; text-align: center">
                    <a class="btn btn-outline-primary" href="~/Admin/Assign?id=@person.PersonID">Edit</a>
                </td>
            </tr>
                    x++;
                
            }
    </tbody>
</table>

@section scripts
{
    <script>
        $(function () {
            $('#students').on('click', '.student-row', function () {
                location.href = "/InstructorAssessments/Assessment?sectionID=" + this.dataset.section + "&enrollmentID=" + this.dataset.enrollment + "&rubricID=" + this.dataset.rubricid;
            });
        })
    </script>
}