
@{
    ViewBag.Title = "ViewAssessment";
}

<h2>View Assessment</h2>

    <div class="py-1">
        <h3>@Model.assessment.Name</h3>        
    </div>
    <div class="py-1">
        <b>Category:</b> @Model.assessment.Category
    </div>
    <div class="py-1">
        Description: @Model.assessment.Description
    </div>
    <div class="py-1">
        Pass Rate: @(Model.assessment.OutcomePassRate * 100)%
    </div>
    <div>
        Calculate Pass Rate: @Model.assessment.CalculateOutcomePassRate
    </div>
    <div class="py-1">
        Program: @Model.program
    </div>
    <div class="py-1">
        Is Active: @Model.assessment.IsActive
    </div>
@if (Model.ModifierLogin != null) {
    <div class="py-1">
        Last Modefied:  @Model.assessment.ModifiedDateTime
    </div>
    <div class="py-1">
        By: @Model.ModifierLogin
    </div>
} else if (Model.CreatorLogin != null)
{
    <div class="py-1">
        Created: @Model.assessment.CreatedDateTime
    </div>
    <div class="py-1">
        By: @Model.CreatorLogin
    </div>
    }



    <div>
        @{ if (Model.canEdit)
        {
            @Html.ActionLink("Edit Assessment", "EditAssessment", new { Model.assessment.AssessmentID })
            }
    }
         
        @*@{ 
            if (Model.canAdd)
            {
                @Html.ActionLink("Add Assessment", "AddAssessment", new { Model.assessment.AssessmentID })
            }
        }*@
    </div>
