
@{
    ViewBag.Title = "ViewAssessment";
}

<h2>View Assessment</h2>

    <div>
        @Model.assessment.AssessmentID
    </div>
    <div>
        @Model.assessment.Name
    </div>
    <div>
        @Model.assessment.Category
    </div>
    <div>
        @Model.assessment.Description
    </div>
    <div>
        @Model.assessment.OutcomePassRate
    </div>
    <div>
        @Model.assessment.CalculateOutcomePassRate
    </div>
    <div>
        @Model.assessment.ProgramID
    </div>
    <div>
        @Model.assessment.IsActive
    </div>
    <div>
        @Model.assessment.ModifiedDateTime
    </div>
    <div>
        @Model.assessment.CreatedDateTime
    </div>
    <div>
        @Model.assessment.ModifiedByLoginID
    </div>
    <div>
        @Model.assessment.CreatedByLoginID
    </div>
    <div>
        @{ if (Model.canEdit)
            {
        @Html.ActionLink("Edit Assessment", "EditAssessment", new { Model.assessment.AssessmentID })
            }
         }
         | 
        @{ 
            if (Model.canAdd)
            {
                @Html.ActionLink("Add Assessment", "AddAssessment", new { Model.assessment.AssessmentID })
            }
        }
    </div>
