@model CLS_SLE.ViewModels.OutcomeViewModel
@{
    ViewBag.Title = "Add Outcome";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Assessments", "Assessments", "AdminAssessments")</li>
        @*<li class="breadcrumb-item">@Html.ActionLink((String)Model.Rubric.Name, "ViewAssessment", "AdminAssessments", new { assessmentID = Model.Rubric.AssessmentID }, null)</li>*@
        <li class="breadcrumb-item active" aria-current="page">New Outcome</li>
    </ol>
</nav>
<h1>Add Outcome</h1>
<br />
@using (Html.BeginForm("InsertNewOutcome", "Rubric", FormMethod.Post))
{
    @Html.HiddenFor(model => model.RubricID)
    <div class="form-group col-9">
        @Html.Label("Outcome Name:")
        @Html.EditorFor(Model => Model.OutcomeVM.Name,
       new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Name } })
        @Html.ValidationMessageFor(model => model.OutcomeVM.Name)
    </div>
    <div class="form-group col-9">
        <div class="form-group col-9">
            @Html.Label("Rubric Description:")
            @Html.TextAreaFor(Model => Model.OutcomeVM.Description,
           new { @class = "form-control", @Value = ViewBag.Description, rows = "6" })
            @Html.ValidationMessageFor(model => model.OutcomeVM.Description)
        </div>
    </div>
    <fieldset class="form-group col-9">
        <div class="row">
            <legend class="col-form-label col-2 pt-0">Outcome Is Active:</legend>
            <div class="form-check form-check-inline">
                <label class="form-check-input" id="IsActive" for="IsActiveTrue">True</label>
                @Html.RadioButtonFor(Model => Model.OutcomeVM.IsActive, "True")
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-input" id="IsActiveFalse" for="IsActiveFalse">False</label>
                @Html.RadioButtonFor(Model => Model.OutcomeVM.IsActive, "False")
            </div>
        </div>
    </fieldset>
    <div class="form-row">
        <div class="form-group col-9">
            <label for="PassPercent">Pass Percentage:</label>
            <input type="text" name="PassPercent" class="form-control" required />
        </div>
    </div>
    <fieldset class="form-group col-9">
        <div class="row">
            <legend class="col-form-label col-2 pt-0">Calculate Criteria Is Active:</legend>
            <div class="form-check form-check-inline">
                <label class="form-check-input" id="CalculateCriteriaPassRateTrue" for="CalculateCriteriaPassRateTrue">True</label>
                @Html.RadioButtonFor(Model => Model.OutcomeVM.CalculateCriteriaPassRate, "True")
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-input" id="CalculateCriteriaPassRate" for="CalculateCriteriaPassRate">False</label>
                @Html.RadioButtonFor(Model => Model.OutcomeVM.CalculateCriteriaPassRate, "False")
            </div>
        </div>
    </fieldset>
    <div class="row justify-content-end col-9">
        <div class="col-2 p-0 mx-1"><button class="btn btn-primary mx-1 col-12" type="submit" name="submit" formmethod="post">Submit</button></div>
        <div class="col-2 p-0 mx-1"><a href="/Rubric/ViewRubric?rubricID=@ViewBag.rubricID"><button type="button" class="btn btn-danger col-12 mx-1">Cancel</button></a></div>
    </div>
}