@model CLS_SLE.ViewModels.RubricViewModel
@{
	ViewBag.Title = "Add Rubric";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
		<li class="breadcrumb-item">@Html.ActionLink("Assessments", "Assessments", "Admin")</li>
		<li class="breadcrumb-item active" aria-current="page">New Rubric</li>
	</ol>
</nav>
<h1>Add Rubric</h1>
<br />

@using (Html.BeginForm("InsertNewRubric", "Rubric", FormMethod.Post))
{
	@Html.HiddenFor(model => model.AssessmentID)
	@*@Html.DropDownList("Assessments", new SelectList(Model.AssessmentList, "Name"));*@

	<div class="form-group col-9">
		@Html.Label("Rubric Name:")
		@Html.EditorFor(Model => Model.AssessmentRubric.Name,
		new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Name } })
		@Html.ValidationMessageFor(model => model.AssessmentRubric.Name)
	</div>
	<div class="form-group col-9">
		@Html.Label("Rubric Description:")
		@Html.TextAreaFor(Model => Model.AssessmentRubric.Description,
		new { @class = "form-control", @Value = ViewBag.Description, rows = "6" })
		@Html.ValidationMessageFor(model => model.AssessmentRubric.Description)
	</div>
	<fieldset class="form-group col-9">
		<label>Related Assessments</label><br>
		<div id="relatedAssessments" class="input-append">
			<div class="input-group relatedAssessment">
				<input list="assessments" name="relatedAssessment1" class="form-control" value="@ViewBag.InitialAssessment">
			</div>
		</div>
		<datalist id="assessments">
			@foreach (string assessment in ViewBag.Assessments)
			{
				<option value="@assessment" />
			}
		</datalist><br>
		<button type="button" class="btn btn-primary" id="addRelatedAssessment">Add Related Assessment</button>
	</fieldset>
	<fieldset class="form-group col-9">
		<div class="row">
			<legend class="col-form-label col-2 pt-0">Is Active:</legend>
			<div class="form-check form-check-inline">
				<label class="form-check-input" id="IsActive" for="IsActiveTrue">True</label>
				@Html.RadioButtonFor(Model => Model.AssessmentRubric.IsActive, "True")
			</div>
			<div class="form-check form-check-inline">
				<label class="form-check-input" id="IsActiveFalse" for="IsActiveFalse">False</label>
				@Html.RadioButtonFor(Model => Model.AssessmentRubric.IsActive, "False")
			</div>
		</div>
	</fieldset>

	<fieldset class="form-group col-9">
		@Html.Label("Score Set:")
		@Html.DropDownListFor(Model => Model.AssessmentRubric.ScoreSetID, new SelectList(ViewBag.ScoreSets, "ScoreSetID", "Name"),
			new { @class = "form-control input-append" })
	</fieldset>

	<div class="form-group col-9">
		<div class="row col-9">
			@Html.Label("Start Date:")
			@Html.TextBoxFor(model => model.RubricAssesssment.StartDate,
			new { @class = "form-control", @type = "date", @Value = ViewBag.StartDate })

			@Html.Label("End Date:")
			@Html.TextBoxFor(model => model.RubricAssesssment.EndDate,
			new { @class = "form-control", @type = "date", @Value = ViewBag.EndDate })
		</div>
	</div>
	<div class="row justify-content-end col-9">
		<div class="col-2 p-0 mx-1"><button class="btn btn-primary mx-1 col-12" type="submit" name="submit" formmethod="post">Submit</button></div>
		<div class="col-2 p-0 mx-1"><a href="@Url.Action(ViewBag.AssessmentID == null ? "Assessments" : "ViewAssessment", "AdminAssessments", new { assessmentID = ViewBag.AssessmentID })" class="btn btn-danger col-12 mx-1">Cancel</a></div>
	</div>
}
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/Scripts/relatedAssessments.js")
}