@model CLS_SLE.ViewModels.UpdateRubric
@{
    ViewBag.Title = "Edit Rubric";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Assessments", "Assessments", "AdminAssessments")</li>
        @*<li class="breadcrumb-item">@Html.ActionLink(Model.RubricAssessment.Name, "ViewAssessment", "AdminAssessments", new { assessmentID = Model.RubricAssessment.AssessmentID }, null)</li>
            <li class="breadcrumb-item">@Html.ActionLink((String)Model.Rubric.Name, "ViewRubric", "Rubric", new { rubricID = Model.Rubric.RubricID }, null)</li>*@
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>
<h1>Edit Rubric</h1>
<br />


@using (Html.BeginForm("SaveRubric", "Rubric", new { rubricID = ViewBag.Id }, FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Rubric Name:")
        @Html.EditorFor(Model => Model.AssessmentRubric.Name,
        new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Name } })
        @*@Html.ValidationMessageFor(Model => Model.AssessmentRubric.Name)*@
    </div>
    <div class="form-group">
        @Html.Label("Description:")
        @Html.EditorFor(Model => Model.AssessmentRubric.Description,
        new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Description } })
        @*@Html.ValidationMessageFor(Model => Model.AssessmentRubric.Description)*@
    </div>
    <fieldset class="form-group col-9">
        <div class="row">
            <legend class="col-form-label col-2 pt-0">Is Active:</legend>
            <div class="form-check form-check-inline">
                <label class="form-check-input" id="IsActive" for="IsActiveTrue">True</label>
                @Html.RadioButtonFor(Model => Model.AssessmentRubric.IsActive, "True")
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-input" id="IsActiveFalse" for="IsActiveFalse">False</label>
                @Html.RadioButtonFor(Model => Model.AssessmentRubric.IsActive, "False")
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="form-group col-4">
            @Html.Label("Start Date:")
            @Html.TextBoxFor(model => model.RubricAssessment.StartDate,
           new { @Value = ViewBag.StartDate })
        </div>
        <div class="form-group col-4">
            @Html.Label("End Date:")
            @Html.TextBoxFor(model => model.RubricAssessment.EndDate,
           new { @Value = (ViewBag.EndDate).ToString("MM/dd/yyyy") })
        </div>
    </div>
    <div class="row justify-content-end col-9">
        <div class="col-2 p-0 mx-1"><button class="btn btn-primary mx-1 col-12" type="submit" name="submit" formmethod="post">Submit</button></div>
        <div class="col-2 p-0 mx-1"><a href="/Rubric/ViewRubric?rubricID=@ViewBag.Id"><button type="button" class="btn btn-danger col-12 mx-1">Cancel</button></a></div>
    </div>
}