@model CLS_SLE.ViewModels.CriterionViewModel
@{
	ViewBag.Title = "Edit Criterion";
}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
		<li class="breadcrumb-item">@Html.ActionLink("Assessments", "Assessments", "AdminAssessments")</li>
		<li class="breadcrumb-item">@Html.ActionLink((String)Model.Rubric.Assessment.Name, "ViewAssessment", "AdminAssessments", new { assessmentID = Model.Rubric.AssessmentID })</li>
		<li class="breadcrumb-item">@Html.ActionLink((String)Model.Rubric.AssessmentRubric.Name, "ViewRubric", "Rubric", new { rubricID = Model.Rubric.RubricID, assessmentID = Model.Rubric.AssessmentID })</li>
		<li class="breadcrumb-item">@Model.Criterion.Outcome.Name</li>
		<li class="breadcrumb-item">@Model.Criterion.Name</li>
		<li class="breadcrumb-item active" aria-current="page">Edit</li>
	</ol>
</nav>
<h1>Edit Criterion</h1>
<br />
@using (Html.BeginForm("SaveCriterion", "Rubric", FormMethod.Post))
{
	<div class="form-group col-9">
		@Html.Label("Name:")
		@Html.EditorFor(Model => Model.Criterion.Name,
		new { htmlAttributes = new { @class = "form-control", @value = Model.Criterion.Name, @required = "required" } })
		@Html.ValidationMessageFor(Model => Model.Criterion.Name)
	</div>
	<div class="form-group col-9">
		@Html.Label("Example Text:")
		@Html.EditorFor(Model => Model.Criterion.ExampleText,
		new { htmlAttributes = new { @class = "form-control", @rows = 6, @value = Model.Criterion.ExampleText } })
		@Html.ValidationMessageFor(Model => Model.Criterion.Name)
	</div>
	<fieldset class="form-group col-9">
		<div class="row">
			<legend class="col-form-label col-4 pt-0">Is Active:</legend>
			<div class="form-check form-check-inline">
				<label class="form-check-label" for="IsActiveTrue">True</label>
				@Html.RadioButtonFor(Model => Model.Criterion.IsActive, "True", Model.Criterion.IsActive ? new { Checked = "checked" } : null)
			</div>
			<div class="form-check form-check-inline">
				<label class="form-check-label" for="IsActiveFalse">False</label>
				@Html.RadioButtonFor(Model => Model.Criterion.IsActive, "False", Model.Criterion.IsActive ? null : new { Checked = "checked" })
			</div>
		</div>
	</fieldset>
	@*<div class="form-group col-9">
			<label for="SortOrder">Sort Order:</label>
			<input type="text" name="SortOrder" class="form-control" />
		</div>*@
	@*TODO InactiveDateTime*@
	<div class="row justify-content-end col-9">
		<div class="col-2 p-0 mx-1"><button class="btn btn-primary mx-1 col-12" type="submit" name="submit" formmethod="post">Update</button></div>
		<div class="col-2 p-0 mx-1"><a href="@Url.Action("ViewRubric", "Rubric", new { rubricID = Model.Rubric.RubricID, assessmentID = Model.Rubric.AssessmentID })" class="btn btn-danger col-12 mx-1">Cancel</a></div>
	</div>
}