@using CLS_SLE.Models;
@{
    ViewBag.Title = "Rubric Assessment";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Assessnents", "Assessments", "AdminAssessments")</li>
        <li class="breadcrumb-item">@Html.ActionLink((String)Model.Rubric.RubricAssessment.Assessment.Name, "ViewAssessment", (String)Model.Rubric.RubricAssessment.AssessmentID.ToString(), "Admin")</li>
        <li class="breadcrumb-item active" aria-current="page">@Model.assessment.Name </li>
    </ol>
</nav>

<h1>Rubric Assessment Page</h1>
<br />

<table class="table table-hover">

    <thead class="thead-dark">
        <tr>
            <th class="h3">Name</th>
            <th scope="col" class="text-right"></th>
            <th scope="col" class="text-right"><a href="/Rubric/AddRubric"><button type="button" class="btn btn-primary">Add New</button></a></th>

        </tr>
    </thead>
    <tbody>

        @foreach (AssessmentRubric rubric in Model.Rubrics)
        {
            <tr>

                <td colspan="2">@rubric.Name</td>
                <td class="text-right">
                    <a href="/Rubric/ViewRubric?rubricID=@rubric.RubricID"><button type="button" class="btn btn-primary">View</button></a>
                </td>

            </tr>
        }

    </tbody>
</table>
