@using CLS_SLE.Models;
@{
    ViewBag.Title = "View Rubric";
}


<div class="py-1 h1">
    @Model.Rubric.Name  - <a style="font-size: 85%;"href="/Rubric/EditRubric?rubricID=@Model.Rubric.RubricID"><b>Edit</b></a>
</div>
<div class="py-2">
    <b>Description:</b> @Model.Rubric.Description
</div>
<div class="py-2">
    <b>Is Active:</b> @Model.Rubric.IsActive
</div>

@*@if (Model.ModifierLogin != null)
{
    <div class="py-1">
        Last Modified:  @Model.assessment.ModifiedDateTime
    </div>
    <div class="py-1">
        By: @Model.ModifierLogin
    </div>
}
else if (Model.CreatorLogin != null)
{
    <div class="py-1">
        Created: @Model.assessment.CreatedDateTime
    </div>
    <div class="py-1">
        By: @Model.CreatorLogin
    </div>
}*@



@*<div>
    @{ if (Model.canEdit)
        {
            @Html.ActionLink("Edit Assessment", "EditAssessment", new { Model.assessment.AssessmentID })
        }
    }

    @{
            if (Model.canAdd)
            {
                @Html.ActionLink("Add Assessment", "AddAssessment", new { Model.assessment.AssessmentID })
            }
        }
</div>*@
<br />
<table class="table">

    <thead class="thead-dark">
        <tr>
            <th scope="col" class="h2">Outcomes</th>
            <th scope="col"><a class="float-right" href="/Rubric/AddOutcome?id=@Model.Rubric.RubricID"><button type="button" class="btn btn-primary">Add New</button></a></th>

        </tr>
    </thead>
    <tbody>

        @foreach (Outcome outcome in Model.Outcomes)
        {
            <tr>

                <td class="h3 align-middle py-2">@outcome.Name</td>
                <td class="text-right">
                    <a href="ViewOutcome?outcomeID=@outcome.OutcomeID"><button type="button" class="btn btn-primary">View</button></a>
                </td>


            </tr>
            foreach (Criterion criterion in outcome.Criteria)
            {
                <tr class="bg-light">
                    <td class="pl-4 py-1">@criterion.Name</td>
                    <td></td>
                </tr>
            }
        }

    </tbody>
</table>
