@using CLS_SLE.Models;
@{
    ViewBag.Title = "View Outcome";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Assessments", "Assessments", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink((String)((AssessmentRubric)Model.Outcome.AssessmentRubric).RubricAssessments.FirstOrDefault().Assessment.Name, "ViewAssessment", "Admin", new { assessmentID = ((AssessmentRubric)Model.Outcome.AssessmentRubric).AssessmentID }, null)</li>
        <li class="breadcrumb-item">@Html.ActionLink((String)Model.Outcome.AssessmentRubric.Name, "ViewRubric", "Rubric", new { rubricID = Model.Outcome.AssessmentRubric.RubricID}, null)</li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Outcome.Name</li>
    </ol>
</nav>
<h1>
    @Model.Outcome.Name  - <a style="font-size: 85%;" href="/Rubric/EditOutcome?outcomeID=@Model.Outcome.OutcomeID"><b>Edit</b></a>
</h1>
<br />
<div class="py-1">
    <b>Description:</b> @Model.Outcome.Description
</div>
<div class="py-1">
    <b>Active:</b> @Model.Outcome.IsActive
</div>

<br />

@*@if (Model.ModifierLogin != null)
    {
        <div class="py-1">
            Last Modified:  @Model.assessment.ModifiedDateTime
        </div>
        <div class="py-1">
            By: @Model.ModifierLogin
        </div>
    }
    else if (Model.CreatorLogin != null)
    {
        <div class="py-1">
            Created: @Model.assessment.CreatedDateTime
        </div>
        <div class="py-1">
            By: @Model.CreatorLogin
        </div>
    }*@



@*<div>
        @{ if (Model.canEdit)
            {
                @Html.ActionLink("Edit Assessment", "EditAssessment", new { Model.assessment.AssessmentID })
            }
        }

        @{
                if (Model.canAdd)
                {
    @Html.ActionLink("Add Assessment", "AddAssessment", new { Model.assessment.AssessmentID })
                }
            }
            </div>*@

<table class="table table-hover">

    <thead class="thead-dark">
        <tr>
            <th scope="col" class="h3">Criteria</th>            
            <th class="text-right"><a href="/Rubric/AddCriterion?outcomeID=@Model.Outcome.OutcomeID"><button type="button" class="btn btn-primary">Add New</button></a></th>

        </tr>
    </thead>
    <tbody>

        @foreach (Criterion criterion in Model.Criteria)
        {
            <tr>

                <td>@criterion.Name</td>
                <td class="text-right">
                    <a href="ViewCriterion?criterionID=@criterion.CriteriaID"><button type="button" class="btn btn-primary">View</button></a>
                </td>

            </tr>
        }

    </tbody>
</table>

