@using CLS_SLE.Models;
@{
    ViewBag.Title = "View Criterion";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Assessments", "Assessments", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink((String)((AssessmentRubric)Model.Criterion.Outcome.AssessmentRubric).RubricAssessments.FirstOrDefault().Assessment.Name, "ViewAssessment", "Admin", new { assessmentID = ((AssessmentRubric)Model.Criterion.Outcome.AssessmentRubric).AssessmentID }, null)</li>
        <li class="breadcrumb-item">@Html.ActionLink((String)Model.Criterion.Outcome.AssessmentRubric.Name, "ViewRubric", "Rubric", new { rubricID = Model.Criterion.Outcome.AssessmentRubric.RubricID }, null)</li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Criterion.Name</li>
    </ol>
</nav>

<h2>View Criterion</h2>

<div class="py-1 h2">
    @Model.Criterion.Name - <a style="font-size: 85%;" href="/Rubric/EditCriterion?criterionID=@Model.Criterion.CriteriaID"><b>Edit</b></a>
</div>
<div class="py-1">
    Example Text: @Model.Criterion.ExampleText
</div>
<div class="py-1">
    Is Active: @Model.Criterion.IsActive
</div>

@*@if (Model.ModifierLogin != null)
    {
        <div class="py-1">
            Last Modified:  @Model.assessment.ModifiedDateTime
        </div>
        <div class="py-1">
            By: @Model.ModifierLogin
        </div>
    }
    else if (Model.CreatorLogin != null)
    {
        <div class="py-1">
            Created: @Model.assessment.CreatedDateTime
        </div>
        <div class="py-1">
            By: @Model.CreatorLogin
        </div>
}*@

