@using CLS_SLE.Models;
@{
    ViewBag.Title = "View Criterion";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Assessnents", "Assessments", "AdminAssessments")</li>
        <li class="breadcrumb-item">@Html.ActionLink((String)((AssessmentRubric)Model.Criterion.Outcome.AssessmentRubric).RubricAssessments.FirstOrDefault().Assessment.Name, "ViewAssessment", "AdminAssessments", new { assessmentID = ((AssessmentRubric)Model.Criterion.Outcome.AssessmentRubric).AssessmentID }, null)</li>
        <li class="breadcrumb-item">@Html.ActionLink((String)Model.Criterion.Outcome.AssessmentRubric.Name, "ViewRubric", "Rubric", new { rubricID = Model.Criterion.Outcome.AssessmentRubric.RubricID }, null)</li>
        <li class="breadcrumb-item">@Html.ActionLink((String)Model.Criterion.Outcome.Name, "ViewOutcome", new { outcomeID = Model.Criterion.Outcome.OutcomeID }, null)</li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Criterion.Name</li>
    </ol>
</nav>

<h1>@Model.Criterion.Name - <a style="font-size: 85%;" href="/Rubric/EditCriterion?criterionID=@Model.Criterion.CriteriaID"><b>Edit</b></a></h1>
<br />

<div class="py-1">
    <b>Example Text:</b> @Model.Criterion.ExampleText
</div>
<div class="py-1">
    <b>Is Active:</b> @Model.Criterion.IsActive
</div>
@if (Model.ModifierLogin != null)
{
    <div class="py-1">
        <b>Last Modified:</b>  @Model.Criterion.ModifiedDateTime
    </div>
    <div class="py-1">
        <b>By User:</b> @Model.ModifierLogin
    </div>
}
else if (Model.CreatorLogin != null)
{
    <div class="py-1">
        <b>Created:</b> @Model.Criterion.CreatedDateTime
    </div>
    <div class="py-1">
        <b>By User:</b> @Model.CreatorLogin
    </div>
}

