@using CLS_SLE.Models
@model CLS_SLE.ViewModels.MappingViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm("Index", "AdminMapping", FormMethod.Post))
{
    //Populates a list of programs to choose from 
    <div class="form-group">
        @Html.Label("Select Program")
        @Html.DropDownListFor(x => x.SelectedProgram, Model.AvailablePrograms)
        @Html.ValidationMessageFor(model => model.SelectedProgram)
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="submit" />
    </div>
}



@if (Model.SelectedProgram != null)
{

    <h1> @Model.Program.Name</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Program Name</th>
                <th scope="col">Assessment Name</th>
                <th scope="col">Rubric Name</th>
                <th scope="col">Course Name</th>
            </tr>
        </thead>
        <tbody id="assessmentData">
            @{

                    <tr>
                        <td colspan="3">@Model.Program.Name</td>
                    </tr>
                    foreach (Assessment assessment in Model.Program.Assessments)
                    {
                        
                        <tr>
                            <td></td>
                            <td>@assessment.Name</td>
                            <td></td>
                            <td></td>
                        </tr>
                        foreach (RubricAssessment ra in assessment.RubricAssessments.ToList())
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                <td>@ra.AssessmentRubric.Name</td>
                                <td></td>
                            </tr>
                            foreach (ProgramAssessmentMapping pam in ra.AssessmentRubric.ProgramAssessmentMappings)
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>@pam.Course.CourseName</td>

                                </tr>
                            }
                        }
                    }


              
            }

            
        </tbody>
    </table>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
