@using CLS_SLE.Models
@model CLS_SLE.ViewModels.MappingViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm("Index", "AdminMapping", FormMethod.Post))
{
    //Populates a list of programs to choose from 
    <div class="form-group">
        @Html.Label("Select Program")
        @Html.DropDownListFor(x => x.SelectedProgram, Model.AvailablePrograms)
        @Html.ValidationMessageFor(model => model.SelectedProgram)
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="submit" />
    </div>
}


@*<select id="programSelect">
    @{foreach(Program program in Model.Programs)
           <option value="@Model.Program.ProgramID">@Model.Program.Name</option>
    }
</select>*@



@if (Model.SelectedProgram != null)
{

    <h1> @Model.Program.Name</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Program Name</th>
                <th scope="col">Assessment Name</th>
                <th scope="col">Rubric Name</th>
                <th scope="col">Course Name</th>
            </tr>
        </thead>
        <tbody id="assessmentData">
            @{

//foreach (Program program in Model.Programs)
//{
                    <tr>
                        <td colspan="3">@Model.Program.Name</td>
                    </tr>
                    foreach (Assessment assessment in Model.Program.Assessments)
                    {
                        
                        <tr>
                            <td></td>
                            <td>@assessment.Name</td>
                            <td></td>
                            <td></td>
                        </tr>
                        foreach (RubricAssessment ra in assessment.RubricAssessments.ToList())
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                <td>@ra.AssessmentRubric.Name</td>
                                <td></td>
                            </tr>
                            foreach (ProgramAssessmentMapping pam in ra.AssessmentRubric.ProgramAssessmentMappings)
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>@pam.Course.CourseName</td>

                                </tr>
                            }
                        }
                    }


                @*}*@




                @*foreach (ProgramAssessmentMapping mapping in Model.ProgramAssessmentMappings)
                {
                    <tr>
                        <td colspan="3">@mapping.Program.Name</td>
                    </tr>

                    foreach (Assessment assessment in Model.Assessments)
                    {
                        <tr>
                            <td></td>
                            <td>@assessment.Name</td>
                            <td></td>
                            <td></td>
                        </tr>
                        foreach (RubricAssessment ra in assessment.RubricAssessments)
                        {

                            <tr>
                                <td></td>
                                <td></td>
                                <td>@ra.AssessmentRubric.Name</td>
                                <td></td>
                            </tr>
                            //foreach(Course course in mapping.Course.)
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>@course.CourseName</td>

                                </tr>
                            }
                        }
                    }






                }*@
            }

            @*@{ foreach (Assessment assessment in Model.Assessments)
            {
                <tr>
                    @assessment.
                    <td>@assessment.Name</td>
                    <td>@assessment.AssessmentID</td>
                    <td>@assessment.Program.Name</td>
                    <td>@assessment.Program.Number</td>

                </tr>

            }
        }*@
        </tbody>
    </table>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
