@using System.Collections
@using CLS_SLE.Models
@model CLS_SLE.ViewModels.MappingViewModel
@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/bootstrap-select")

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Admin Dashboard", "AdminDashboard")</li>
        <li class="breadcrumb-item active" aria-current="page">Assessment Mapping</li>
    </ol>
</nav>

<h1>Assessment Mapping</h1>

<!-- Search Functionality -->
@using (Html.BeginForm("Index", "AdminMapping", FormMethod.Post))
{
    //Populates a list of programs to choose from
    <div class="form-inline mt-3 mb-4">
        <div class="row">
            @*<div class="form-group col-7">
                    <input type="text" class="form-control mr-2 col-10" placeholder="Search For Programs..." />
                    <input type="submit" class="btn btn-primary mt-2" value="Search" />
                </div>*@
            <div class="form-group col-5">
                @Html.DropDownListFor(p => p.ProgramID, Model.Programs, "-Select Program-", new
                   {
                       @id = "DropDownPrograms",
                       @class = "form-control selectpicker",

                       onchange = "this.form.submit();"
                   })
                @*@Html.DropDownList("Program", Model.Programs, "All", new {@id = "DropDownPrograms", @class = "form-control"})*@
                @*@Html.DropDownListFor(x => x.SelectedProgram, Model.AvailablePrograms, new {@class = "form-control"})*@
                @*@Html.ValidationMessageFor(model => model.Program.ProgramID)*@
                <input type="submit" class="btn btn-primary mt-2" value="Submit" />
            </div>
        </div>
    </div>
}


@if (Model.Program != null)
{
    <hr />
    <div class="mt-4 mb-4">
        <h6 class="mb-1">Showing Results For</h6>
        <h5>@Model.Program.Name</h5>
    </div>

    <table class="table table-hover">

        <tbody id="assessmentData">
            @{
                foreach (Assessment assessment in Model.Program.Assessments)
                {
                    <tr>
                        <td class="bg-dark text-white"><h3>@assessment.Name</h3><h5 class="float-left">(@Model.Program.Name)</h5></td>
                    </tr>
                    foreach (RubricAssessment ra in assessment.RubricAssessments.ToList())
                    {
                        <tr>
                            <td class="bg-light" valign="bottom"><h5 class="d-inline">@ra.AssessmentRubric.Name</h5> <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus" aria-hidden="true"></i> Add Course</button></td>
                        </tr>
                        foreach (ProgramAssessmentMapping pam in ra.AssessmentRubric.ProgramAssessmentMappings)
                        {
                            <tr>
                                <td class="align-text-bottom" valign="bottom"><span class="d-none d-md-noe d-lg-inline">&emsp;</span>@pam.Course.CourseName<button type="button" value="@pam.ProgramAssessmentMappingID" class="btn btn-danger d-inline float-right"><i class="fa fa-times fa-align-center" aria-hidden="true"></i></button></td>
                            </tr>
                        }
                    }
                }
            }
        </tbody>
    </table>

}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-select")


}
